<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="<%= challenge.title %>, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Challenge <%= challenge.title %> details on Challenge your Friends">
    <meta name="description" content="Challenge <%= challenge.title %>, value <%= challenge.rateValue %>, rated <%= challenge.rating %> overall. <%= challenge.description %>">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="profile"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Challenge <%= challenge.title %> details on Challenge your Friends">
    <meta property="og:description" content="Challenge <%= challenge.title %>, value <%= challenge.rateValue %>, rated <%= challenge.rating %> overall. <%= challenge.description %>">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Challenge <%= challenge.title %> details on Challenge your Friends">
    <meta name="twitter:description" content="Challenge <%= challenge.title %>, value <%= challenge.rateValue %>, rated <%= challenge.rating %> overall. <%= challenge.description %>">
    <!-- Twitter card end -->

	<title>Challenge <%= challenge.title %> details - Challenge your friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		<div class="container">
			<div class="row">
				<h2 class="col-md-8 col-lg-8 col-xs-12 col-sm-12"><%= challenge.title %> <small> <a href="/c/<%= challenge.idCool %>"> <i class="fa fa-chain"></i> <%= challenge.idCool %> </a></small></h2> 
				<h2 class="col-md-4 col-lg-4 col-xs-12 col-sm-12"><small class="text-info">Value <i class="fa fa-fire"></i><%= challenge.value %></small></h2>

				<hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">

							<h4>Description</h4>
							<p class="well">
								<%= challenge.description %>
							</p>
					<div class="row">
							<div class="col-md-12">
								<h4>Rated <span class="odometer" data-number="<%= challenge.rateNumber %>">0</span> times, overall <%= challenge.rateValue %></h4>
								<div class="well clearfix">
									<canvas id="detailsChart" class="c-center"></canvas>
									<div class="text-center" >
										<span>Difficulty <span class="odometer" data-number="<%= challenge.rating.difficulty.avg %>">0</span></span> |
										<span>Quickness <span class="odometer" data-number="<%= challenge.rating.quickness.avg %>">0</span></span> |
										<span>fun <span class="odometer" data-number="<%= challenge.rating.fun.avg %>">0</span></span>
									</div>
								</div>							
							</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
							<div class="col-md-12">		
								<h4>Creation</h4>
								<p class="well">
									by <a href="../u/<%= challenge.author.idCool %>"><%= challenge.author.local.pseudo %></a>,<span class="dateReadability" data-date="<%= challenge.creation %>"></span>
								</p>		
							</div>
							<div class="col-md-12" >	
								<h4 class="rating-num">More stats</h4>
								<div class="well clearfix">
										<canvas id="dispersionChart" class="c-center"></canvas>	
								</div>						
							</div>
					</div>
				</div>
			</div>
		</div>
	<% include statics/footers %>
	<script type="text/javascript" src="../js/chart.min.js"></script>
	<script type="text/javascript">

		$(function() {

			// Difficulty, quick and fun chart
			var desiredRatio = $("#detailsChart").parent().width()*0.5;
			var canvas = $("#detailsChart")[0];
			var ctx = canvas.getContext("2d");
			canvas.setAttribute('width', desiredRatio);
			canvas.setAttribute('height', desiredRatio);

			<% 
			if(challenge.rating.difficulty.avg === 0 && challenge.rating.quickness.avg === 0 && challenge.rating.fun.avg === 0) {
			%>
			var data = [
				{value : 0, color: "transparent"},
				{value : 50, color: "transparent"}
			]

			<%
			} else {
			%>
			var data = [
				{value : <%= challenge.rating.difficulty.avg %>, color: "#DF3C5C"},
				{value : <%= challenge.rating.quickness.avg %>, color: "#42ECE3"},
				{value : <%= challenge.rating.fun.avg %>, color: "#EFE029"}
			]

			<%
			}
			%>
			new Chart(ctx).PolarArea(data);


			// D
			var desiredRatio = $("#dispersionChart").parent().width()*0.7;
			var canvas = $("#dispersionChart")[0];
			var ctx = canvas.getContext("2d");
			canvas.setAttribute('width', desiredRatio);
			canvas.setAttribute('height', desiredRatio);


			// data
			<% 
			if(challenge.rating.difficulty.avg === 0 && challenge.rating.quickness.avg === 0 && challenge.rating.fun.avg === 0) {
			%>
			var data = {
				labels : ["[0-10]","[10-20]","[20-30]","[30-40]","[40-50]"],
				datasets : [
					{
						fillColor : "rgba(223,60,92,0.5)",
						strokeColor : "rgba(223,60,92,1)",
						pointColor : "rgba(223,60,92,1)",
						pointStrokeColor : "rgb(189,43,72)",
						data : [30,201,90,81,12]
					},
					{
						fillColor : "rgba(66,236,227,0.5)",
						strokeColor : "rgba(66,236,227,1)",
						pointColor : "rgba(66,236,227,1)",
						pointStrokeColor : "rgb(77,163,159)",
						data : [28,48,40,19,96]
					}
				]
			}
			<%
			} else {
			%>
			var data = {
				labels : ["Eating","Drinking","Sleeping","Designing","Coding"],
				datasets : [
					{
						fillColor : "rgba(220,220,220,0.5)",
						strokeColor : "rgba(220,220,220,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						data : [65,59,90,81,56]
					},
					{
						fillColor : "rgba(151,187,205,0.5)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						data : [28,48,40,19,96]
					}
				]
			}

			<%
			}
			%>
			var options = {
									
				scaleBackdropColor : "rgba(255,255,255,0)",	
				//Boolean - Whether to show labels on the scale	
				scaleShowLabels : true,
										
				//Number - Radius of each point dot in pixels
				pointDotRadius : 1,
				
				//Number - Pixel width of point dot stroke
				pointDotStrokeWidth : 1,
				
				//Number - Number of animation steps
				animationSteps : 110
				
			}
			new Chart(ctx).Radar(data,options);
		});

	</script>

	</body>
	</html>