<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="List of challenges - Challenge your Friends">
    <meta name="description" content="There are currently <%= challenges ? challenges.length : 0 %> challenges on Challenge your Friends. See each challenge, filter and discover the highest rated ones.">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.cyf-app.co">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://cyf-app.co/img/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="List of challenges - Challenge your Friends">
    <meta property="og:description" content="There are currently <%= challenges ? challenges.length : 0 %> challenges on Challenge your Friends. See each challenge, filter and discover the highest rated ones.">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://cyf-app.co/img/icon_big.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="List of challenges - Challenge your Friends">
    <meta name="twitter:description" content="There are currently <%= challenges ? challenges.length : 0 %> challenges on Challenge your Friends. See each challenge, filter and discover the highest rated ones.">
    <!-- Twitter card end -->
	<title>List of challenges - Challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		

		<div class="container">

			<div class="row">

				<div class="col-md-12">
					<h3>Challenges</h3>
					<div class="clearfix">
						The challenges are classed from the most valuated to the least one.
						<div class="pull-right filter">
							<input type="search" class="form-control" placeholder="Search a challenge">
						</div>	
					</div>
					<hr>
					<div class="row">
						<% if(challenges && challenges.length > 0) {
						for(var i=0; i< challenges.length; i++) { %>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 challenge-card hover-me animated fadeInDown" id="<%= challenges[i]._id %>" data-game="<%= challenges[i].game %>" data-durationD="<%= challenges[i].durationD %>" data-durationH="<%= challenges[i].durationH %>" data-title="<%= challenges[i].title %> " data-description="<%= challenges[i].description %>">								
							<div class="rounded-2 well">
								<a href="./c/<%= challenges[i].idCool %>">
									
									<h4><%= challenges[i].title %></h4>
								</a>
									<h6 class="color-<%= challenges[i].game.type %>"><%= challenges[i].game.title %></h6>
									<p><%= challenges[i].description %></p>
									<hr class="subtle-divider hr-white">
									<i class="fa fa-clock-o"></i>
									<strong><%= challenges[i].durationH %></strong> Hours
									<% if (challenges[i].durationD > 0 ) { %> 
									<strong><%= challenges[i].durationD %></strong> Days
									<% } %>
									<span class="valueChall pull-right"><span class="label label-info">Value <i class="fa fa-fire"></i><%= challenges[i].value %></span></span>
									<% if(challenges[i].completedBy.length > 0) { %>
									<hr>
									<div class="completedByList">
										<h6>Completed by <%- challenges[i].completedBy.length %> challengers</h6>
										<span class="hidden">
											<% for(var z=0; z< challenges[i].completedBy.length; z++) { %>
												<a href="/u/<%= challenges[i].completedBy[z].idCool %>">
													<%= challenges[i].completedBy[z].local.pseudo %>
												</a>
											<% } %>
										</span>
									</div>
									<% } %>
									<hr class="subtle-divider hr-white">

										<div class="fb-share-button" ata-href="http://challenge-friends.herokuapp.com/c/<%= challenges[i].idCool %>" data-type="button_count"></div>
										<a href="https://twitter.com/share" class="twitter-share-button" data-text="Look at this challenge: <%= challenges[i].title %> with a value of <%= challenges[i].value %>, rated <%= challenges[i].rateValue %> overall by  <%= challenges[i].rateNumber %> #challengers!" data-via="cyf_app" data-hashtags="challenge">Tweet</a>
							</div>
						</div>
						<% }
						} %>
					</div>
				</div>

				<hr>
			</div>

		</div>

		<% include statics/footers %>

		<script type="text/javascript">

			$(function() {

			    var $sameHeightChildren = $('.challenge-card > div');
			    var maxHeight = 0;

			    _.each($sameHeightChildren, function(el) {
			        maxHeight = Math.max(maxHeight, $(el).outerHeight());
			    });
			    console.log(maxHeight)
			    $sameHeightChildren.css({ height: maxHeight + 'px'});


				$('.completedByList').hover(function(){
						$(this).children('span').toggleClass('hidden');
				},function(){
						$(this).children('span').toggleClass('hidden');
				});
			});



		</script>
	</body>
	</html>