<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title></title>
</head>
<body>

	<% include statics/navTop %>
	<div class="canvas">
		

		<div class="container">
			<div class="row">
				<ul class="userlist col-lg-12">
					<% for(var i=0; i< friends.length; i++) { 
						var currFriend = friends[i].idUser;
						if(currFriend._id.toString() != currentUser._id.toString()) { %>
						<li class="media row">
							<div class="col-md-4">

								<a class="pull-left" href="/u/<%= currFriend.idCool %>">
									<img src="<%= currFriend.icon %>" class="img-rounded">
								</a>

								<div class="media-body">
									<h4 class="media-heading col-lg-12">
										<a href="/u/<%= currFriend.idCool %>"> 
											<%= currFriend.local.pseudo %>
										</a>
										<span class="<%= (currFriend.isOnline === true) ? "online" : "offline" %>"></span>
									</h4>
									<div class="col-lg-12">
										<span class="badge alert-warning">level <%= currFriend.level %></span>
										<span class="badge alert-warning"><%= currFriend.friends.length %> friends</span>	
									</div>
								</div>
							</div>
						</li>
						<% } 
					} %>
				</ul>
			</div>

		</div>
		<% include statics/footers %>
	</body>
	</html>