<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="My friends on Challenge your Friends">
    <meta name="description" content="Your friend list on CyF, you currently have <%= friends.length %> friend(s). The more the merier!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="My friends on Challenge your Friends">
    <meta property="og:description" content="Your friend list on CyF, you currently have <%= friends.length %> friend(s). The more the merier!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="My friends on Challenge your Friends">
    <meta name="twitter:description" content="Your friend list on CyF, you currently have <%= friends.length %> friend(s). The more the merier!">
    <!-- Twitter card end -->
	<title>My <%= friends.length > 1 ? friends.length : "" %> friends on challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>
	<div class="canvas">
		

		<div class="container">
			<div class="row">
				<ul class="userlist col-lg-12">
					<div class="row">				
					<% if(friends.length > 0) {
						for(var i=0; i< friends.length; i++) { 
						var currFriend = friends[i].idUser;
						if(currFriend._id.toString() != currentUser._id.toString()) { %>
						<li class="media col-md-4">

								<a class="pull-left" href="/u/<%= currFriend.idCool %>">
									<img src="<%= currFriend.icon %>" class="img-rounded">
								</a>

								<div class="media-body">
									<h4 class="media-heading col-lg-12">
										<a href="/u/<%= currFriend.idCool %>"> 
											<%= currFriend.local.pseudo %>
										</a>
										<span class="<%= (currFriend.isOnline === true) ? "online" : "offline" %>"></span>
									</h4>
									<div class="col-lg-12">
										<span class="badge alert-warning">level <%= currFriend.level %></span>
										<span class="badge alert-warning"><%= currFriend.friends.length %> friends</span>	
									</div>
								</div>
						</li>
						<% } 
					} 
					}else { %>
						<div class="col-md-12">
							<h4>You don't have any friend, yet :(</h4>
							<p>
								Why don't you go to the <a href="./users">user list</a> and find some? You need friends to play on CyF!
							</p>
						</div>

					<% } %>
			</div>
				</ul>
			</div>

		</div>
		<% include statics/footers %>
	</body>
	</html>