<!doctype html>
<html>
<head>

	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Your welcome page <%= currentUser.local.pseudo %> on Challenge your friends">
    <meta name="description" content="Your friend list on CyF, you currently have <%= friends.length %> friend(s). The more the merier!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Your welcome page <%= currentUser.local.pseudo %> on Challenge your friends">
    <meta property="og:description" content="Your friend list on CyF, you currently have <%= friends.length %> friend(s). The more the merier!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Your welcome page <%= currentUser.local.pseudo %> on Challenge your friends">
    <meta name="twitter:description" content="Your friend list on CyF, you currently have <%= friends.length %> friend(s). The more the merier!">
    <!-- Twitter card end -->
	<title>our welcome page <%= currentUser.local.pseudo %> on Challenge your friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		
		<div class="container">
			<div class="row">
				<header class="col-md-12 text-center">
					<h1>hello <%= currentUser.local.pseudo %> </h1>
				</header>
				<nav class="col-md-3">
					<p>
						<a href="/newChallenge" class="btn btn-punch btn-info btn-lg btn-block"> 
							<span class="glyphicon glyphicon-plus"></span> 
							Create a challenge
						</a>
					</p>
					<p>
						<a href="/friendChallenge" class="btn btn-punch btn-info btn-lg btn-block"> 
							<span class="glyphicon glyphicon-zoom-in"></span> 
							Challenge a Friend
						</a>
					</p>
					<p>
						<a href="/inviteFriend" class="btn btn-punch btn-info btn-lg btn-block"> 
							<span class="glyphicon glyphicon-tower"></span> 
							Find friends
						</a>
					</p>
					<p>
						<a href="/logout" class="btn btn-punch btn-info btn-lg btn-block"> 
							<span class="glyphicon glyphicon-plus"></span> 
							Logout
						</a>
					</p>
				</nav>
			</div>
		</div><!-- /.container -->
		<% include statics/footers %>
	</body>
	</html>