<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Launch a challenge to one of your <%= userList.length > 1 ? userList.length+" friends" : "friends" %>">
    <meta name="description" content="Launching a challenge is the last step to prove that only you can manage to complete a designed challenge!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Launch a challenge to one of your <%= userList.length > 1 ? userList.length+" friends" : "friends" %>">
    <meta property="og:description" content="Launching a challenge is the last step to prove that only you can manage to complete a designed challenge!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Launch a challenge to one of your <%= userList.length > 1 ? userList.length+" friends" : "friends" %>">
    <meta name="twitter:description" content="Launching a challenge is the last step to prove that only you can manage to complete a designed challenge!">
    <!-- Twitter card end -->
	<title>Launch a challenge to one of your <%= userList.length > 1 ? userList.length+" friends" : "friends" %></title>
</head>
<body>

	<% include statics/navTop %>
	
	<div class="modal fade" tabindex="-1" role="dialog" id="successModal" aria-labelledby="successModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-ok"></span>
						Challenge launched !</h3>
					</div>
					<div class="panel-body">
						You will be redirected to your profile in 5 seconds.
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="lastStep" tabindex="-1" role="dialog" aria-labelledby="lastStep" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Let's challenge <strong id="mUTitle"></strong></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<h4 id="mCTitle"></h4>
								<hr>
								<p id="mCDesc"></p>
								<div id="mCGame" class="label label-warning"></div>
							</div>
							<div class="col-md-6">
								<h4 >Time Frame</h4>
								<hr>
								<dl>
									<dt> Start</dt>
									<dd id="dateStart"></dd>
									<dt> Deadline</dt>
									<dd id="dateEnd"></dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="TOR" type="button" class="ladda-button btn btn-punch btn-danger btn-lg btn-block" data-style="expand-right">
							<span class="ladda-label">
								<span class="glyphicon glyphicon-plus"></span> Challenge
							</span>
							<span class="ladda-spinner"></span>
							<div class="ladda-progress" style="width: 91px;"></div>
						</button>
						<button type="button" class="btn btn-punch btn-default btn-lg btn-block" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->



		<!-- Modal -->
		<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">What is the time frame for your challenge?</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>The challenge will begin:</label>
							<div class='input-group date col-lg-5 col-xs-8 col-lg-offset-1 col-xs-offset-1' id='DTPKStart' data-date="" data-format="MM dd yyyy, hh:ii">
								<input type='text' class="form-control">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
							<input type="text" id="DTPKStart_formated" value="" class="hidden"  />
							<input type="text" id="DTPKEnd_formated" value="" class="hidden"  />
						</div>
						<p id="timeChallengeInfo" class="help-block"><span></span> will have <strong></strong> day(s) and <strong></strong> hour(s) to complete it.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-punch btn-default" data-dismiss="modal">Close</button>
						<button type="button" id="timeConfirm" class="btn btn-punch btn-info">Ready to rumble</button>
					</div>
				</div>
			</div>
		</div>


		<div class="canvas">
		
			<div class="container">

				<div class="row">

					<div class="col-md-6">
						<h3>Select a challenge
							<!-- <div class="pull-right filter">
								<input type="search" class="form-control" placeholder="Search a game">
							</div> -->					
						</h3>
						<div class="row challenge">
							<% for(var i=0; i< challenges.length; i++) { 
								%>
								<div class="col-lg-6 col-xs-6 imInABox animated fadeInDown  challenge-card hover-me" id="<%= challenges[i]._id %>" data-game="<%= challenges[i].game %>" data-durationD="<%= challenges[i].durationD %>" data-durationH="<%= challenges[i].durationH %>" data-title="<%= challenges[i].title %> " data-description="<%= challenges[i].description %>">								
									<div class="rounded-2 well">
										<span class="badge"><%= challenges[i].game %></span>

										<h3 class="hidden-xs"><%= challenges[i].title %></h3>
										<h5 class="visible-xs"><%= challenges[i].title %></h5>

										<p class="hidden-xs"><%= challenges[i].description %></p>

										<hr class="subtle-divider">
										<i class="fa fa-clock-o"></i>
										<strong><%= challenges[i].durationH %></strong> Hours
										<% if (challenges[i].durationD > 0 ) { %> 
										<strong><%= challenges[i].durationD %></strong> Days
										<% } %>
										<span class="pull-right">
											<i class="fa fa-fire text-danger"></i> <%= challenges[i].value %>
										</span>
									</div>
								</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6">
							<h3>target a friend
								<!-- <div class="pull-right filter">
									<input type="search" class="form-control" placeholder="Search a friend">
								</div> -->
							</h3>
							<div class="row friends">

								<% if(userList.length > 0) { %>
								<% for(var i=0; i< userList.length; i++) { %>
								<div class="col-lg-3 col-xs-3 col-sm-3 col-md-offset-1 col-xs-offset-1 col-sm-offset-1 boxy rounded-2 animated flipInX" id="<%= userList[i].idUser._id %>" data-pseudo="<%= userList[i].idUser.local.pseudo %>" data-idCool="<%= userList[i].idUser.idCool %>">
									<div class="flatty">
										<span class="level"><%= userList[i].idUser.level %></span>
										<div class="vh-center">
											<h5 class="label label-white"><%= userList[i].idUser.local.pseudo %></h5>
										</div>

									</div>
									<img src="<%= userList[i].idUser.icon %>" class="img-responsive img-rounded">

								</div>
								<% } %>
								<% } %>
							</div>
						</div>

						<hr>
					</div>

				</div>

				<% include statics/footers %>

				<script type="text/javascript">

					$(function() {
						var cStartDate, cEndDate;

						$('#DTPKStart')
						.datetimepicker({
							format: "MM dd yyyy, hh:ii",
							autoclose: true,
							startDate : new Date,
							todayHighlight: true,
							linkField: "DTPKStart_formated",
							linkFormat: "yyyy-mm-ddThh:ii:ss",
							pickerPosition: 'bottom-left'
						});

						$('.imInABox,.friends .boxy').click(function(e) {
							e.preventDefault();
							$(this).siblings().removeClass('active');
							$(this).toggleClass('active');

							upFriends();
						})

						$('#timeConfirm').click( function(e) {
							e.preventDefault();

							if($('#DTPKStart').find("input").val()) {
								$('#timeModal').modal('hide');
								$('#timeModal').on('hidden.bs.modal', function (e) {
									e.preventDefault();

									var sDate = $('#DTPKStart').find("input").val();
									console.log(sDate);
							// console.log(eDate);
							populateModal(sDate,function() {
								$('#lastStep').modal('show');
							});
						});

							} else {
								$('#DTPKStart').addClass('has-warning').append('<i class="fa fa-warning form-control-feedback" style="float: left;font-size: 2em;margin: 0 15px;"></i>');

							}

						});

						$("#TOR").click( function(e){
							e.preventDefault();

							var cBox = $('.imInABox.active'),
							uBox = $('.friends .boxy.active');

							var challengeId = cBox.attr('id')
							, challenged      = uBox.attr('id')
							, challengedIdCool      = uBox.attr('data-idCool')
							, challengedPseudo      = uBox.attr('data-pseudo')
							, launchAt = $('#DTPKStart_formated').val();

							if(moment(launchAt).isAfter()) {

								var target = {};
								target.idChallenge = challengeId;
								target.idChallenged = challenged;
								target.deadLine = {
									h:cBox.attr('data-durationH'),
									d:cBox.attr('data-durationD')
								};
								target.launchDate = launchAt;

								console.log(target);

								$.ajax({
									type: 'POST',
									data: JSON.stringify(target),
									contentType: 'application/json',
									url: './launchChallenge',						
									success: function(data) {
										console.log('success');

										$('#lastStep').modal('hide');
										$('#lastStep').on('hidden.bs.modal', function (e) {
											e.preventDefault();

											$('#successModal').modal('show');

											socket.emit('just happened',{
												icon: 'fa fa-bolt',
												event: '<a href="/u/<%= currentUser.idCool %>" title="youhou"><%= currentUser.local.pseudo %></a> challenged <a href="/u/'+challengedIdCool+'">'+challengedPseudo+'</a>.'
											});

											window.setTimeout(function(){
												window.location.href = "./profile";
											}, 2333);
										});
									}
								});
							} else {
								$('#TOR').text('The challenge cannot start immediatly after your lauched it.')
							}
						});
upFriends();
});

	// Bind progress buttons
	Ladda.bind( '.ladda-button.btn-block', {
		callback: function( instance ) {
			var progress = 0;
			var interval = setInterval( function() {
				progress = Math.min( progress + Math.random() * 0.12, 1 );
				instance.setProgress( progress );

				if( progress === 1 ) {
					instance.stop();
					clearInterval( interval );
				}
			}, 35 );
		}
	});

	var populateModal = function (sDate, complete) {
		var query, fStart, fEnd,
		cBox = $('.imInABox.active'),
		uBox = $('.friends .boxy.active');

		console.log(cBox);
		if (cBox.attr('data-durationD') > 0 ) {
			query = {hours:cBox.attr('data-durationH'),days:cBox.attr('data-durationD')};
		} else {
			query = {hours:cBox.attr('data-durationH')};
		}

		fStart = $('#DTPKStart_formated').val();
		fEnd = moment(fStart).add(query); //.format('YYYY-MM-DDTHH:mm:ss.SSSZZ'

			$('#DTPKEnd_formated').val(fEnd.format("YYYY-MM-DDTHH:mm:ssZZ"));

			var challengeTitle = cBox.attr('data-title'),
			challengeDesc      = cBox.attr('data-description'),
			challengeId        = cBox.attr('id'),
			challengeGame      = cBox.attr('data-game'),
			uName              = uBox.attr('data-pseudo'),
		dateStart          = sDate, // moment(sDate,'MMMM Do YYYY, h:mm:ss a'),
		dateEnd            = fEnd.format('MMMM Do YYYY, hh:mm');

		console.log('Start: ' +$('#DTPKStart_formated').val()+ ' End ' + $('#DTPKEnd_formated').val())

		$('#mCTitle').text(challengeTitle);
		$('#mCDesc').text(challengeDesc);
		$('#mCGame').text(challengeGame);
		$('#mUTitle').text(uName);
		$('#dateStart').text(dateStart);
		$('#dateEnd').text(dateEnd);
		complete();
	};
	var populateTimeModal = function(){
		var cBox = $('.imInABox.active')
		, uBox   = $('.friends .active');

		console.log(cBox.attr('data-durationD'))
		console.log(cBox.attr('data-durationH'));
		$('#timeChallengeInfo > span').text(uBox.attr('data-pseudo'));
		$('#timeChallengeInfo > strong:nth-child(even)').text(cBox.attr('data-durationD'));
		$('#timeChallengeInfo > strong:nth-child(odd)').text(cBox.attr('data-durationH'));;


		$('#timeModal').modal('show');
	}
	var upFriends = function (){

		var numCa = $(".imInABox.active").length,
		numFa = $(".friends .boxy.active").length;

		if(numCa > 0) {
			$('.friends .boxy').removeClass('disabled');
		} else {
			$('.friends .boxy').addClass('disabled');
		}

		// Pop the launch button
		if(numCa > 0 && numFa > 0) {
			console.log('go');

			populateTimeModal();

		}
	};



</script>
</body>
</html>