<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title></title>
</head>
<body>

	<% include statics/navTop %>
	<div class="canvas">

		<div class="container">
			<div class="row well">

				<div class="tabbable tabs-left clearfix">
					<ul id="myTab1" class="nav nav-tabs nav-justified">
						<li class="active"><a href="#daily" data-toggle="tab">Today's Ladder</a></li>
						<li><a href="#weekly" 	data-toggle="tab">Weekly Ladder</a></li>
						<li><a href="#monthly" 	data-toggle="tab">Monthly Ladder</a></li>
						<li><a href="#global" 	data-toggle="tab">General Ladder</a></li>

					</ul>
					<div id="leaderboardcontainer" class="tab-content">
						<!-- daily Leaderboard -->
						<div class="tab-pane fade active in " id="daily">	
							<p>
								Rankings are updated each day at midnight. Challengers have 24 hours to gather the maximum of bonus points by completing challenge, gathering experience, level uping and sharing on social network.
								<strong class id="updateDaily"></strong>
							</p>	
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
									<% if(ranking.daily.length > 0 ) { %>
									<% for(var i=0; i< ranking.daily.length; i++) { %>
									<tr class="animated flipInX">
										<td class="daily"><%= i+1 %></td>
										<td><%= ranking.daily[i].local.pseudo %></td>
										<td><%= ranking.daily[i].level %></td>
										<td><%= ranking.daily[i].dailyScore %></td>
									</tr>
									<% }%>
									<% }%>
									
								</tbody>
							</table>
						</div>
						<!-- weekly Leaderboard -->
						<div class="tab-pane fade in " id="weekly">		
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
									<% if(ranking.weekly.length > 0 ) { %>
									<% for(var i=0; i< ranking.weekly.length; i++) { %>
									<tr class="animated flipInX">
										<td class="weekly"><%= i+1 %></td>
										<td><%= ranking.weekly[i].local.pseudo %></td>
										<td><%= ranking.weekly[i].level %></td>
										<td><%= ranking.weekly[i].weeklyScore %></td>
									</tr>
									<% }%>
									<% }%>
									
								</tbody>
							</table>
						</div>
						<!-- Monthly Leaderboard -->
						<div class="tab-pane fade in " id="monthly">		
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
									<% if(ranking.monthly.length > 0 ) { %>
									<% for(var i=0; i< ranking.monthly.length; i++) { %>
									<tr class="animated flipInX">
										<td class="monthly"><%= i+1 %></td>
										<td><%= ranking.monthly[i].local.pseudo %></td>
										<td><%= ranking.monthly[i].level %></td>
										<td><%= ranking.monthly[i].monthlyScore %></td>
									</tr>
									<% }%>
									<% }%>
								</tbody>
							</table>
						</div>
						<!-- General Leaderboard -->
						<div class="tab-pane fade in " id="global">		
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>

									<% if(ranking.global.length > 0 ) { %>
									<% for(var i=0; i< ranking.global.length; i++) { %>
									<tr class="animated flipInX">
										<td class="global"><%= i+1 %></td>
										<td><%= ranking.global[i].local.pseudo %></td>
										<td><%= ranking.global[i].level %></td>
										<td><%= ranking.global[i].globalScore %></td>
									</tr>
									<% }%>
									<% }%>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
		<% include statics/footers %>

		<script type="text/javascript">
			$(function() {

				setInterval(function(){
					day();
				},1000);
			});
			var day = function (){				
				var d = new Date();
				d.setHours(24,1,0,0)
				var converted = moment(d).countdown().toString();
				$('#updateDaily').text(converted);
			}
		</script>
	</body>
	</html>