<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="leaderboard, ranking, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Leaderboards of challenge your friends">
    <meta name="description" content="Daily, weekly, monthly and global leaders board! Heroes of the day <%= ranking.daily.length > 0 ? ranking.daily[0].local.pseudo : 'none' %> | Week <%= ranking.weekly.length > 0 ? ranking.weekly[0].local.pseudo : 'none' %> | Month <%= ranking.monthly.length > 0 ? ranking.monthly[0].local.pseudo : 'none' %>. General: <%= ranking.global.length > 0 ? ranking.global[0].local.pseudo : 'none' %>">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.cyf-app.co">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://cyf-app.co/img/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Leaderboards of challenge your friends">
    <meta property="og:description" content="Daily, weekly, monthly and global leaders board! Heroes of the day <%= ranking.daily.length > 0 ? ranking.daily[0].local.pseudo : 'none' %> | Week <%= ranking.weekly.length > 0 ? ranking.weekly[0].local.pseudo : 'none' %> | Month <%= ranking.monthly.length > 0 ? ranking.monthly[0].local.pseudo : 'none' %>. General: <%= ranking.global.length > 0 ? ranking.global[0].local.pseudo : 'none' %>">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://cyf-app.co/img/icon_big.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Leaderboards of challenge your friends">
    <meta name="twitter:description" content="Daily, weekly, monthly and global leaders board! Heroes of the day <%= ranking.daily.length > 0 ? ranking.daily[0].local.pseudo : 'none' %> | Week <%= ranking.weekly.length > 0 ? ranking.weekly[0].local.pseudo : 'none' %> | Month <%= ranking.monthly.length > 0 ? ranking.monthly[0].local.pseudo : 'none' %>. General: <%= ranking.global.length > 0 ? ranking.global[0].local.pseudo : 'none' %>">
    <!-- Twitter card end -->

	<title>Leaderboards, <%= (ranking.daily.length > 0) ? ranking.daily[0].local.pseudo + ' #1' : '' %></title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		<div class="container">
			<div class="row">
				<div class="tabbable tabs-left col-lg-12 clearfix">
					<ul id="leadTab" class="nav nav-tabs nav-justified">
						<li class="active"><a href="#daily" data-toggle="tab"><img src="./img/ladder_a.png" class="img-responsive">daily</a></li>
						<li><a href="#weekly" data-toggle="tab"><img src="./img/ladder_b.png" class="img-responsive">weekly</a></li>
						<li><a href="#monthly" data-toggle="tab"><img src="./img/ladder_c.png" class="img-responsive">monthly</a></li>
						<li><a href="#global" data-toggle="tab"><img src="./img/ladder_g.png" class="img-responsive">global</a></li>

					</ul>
					<div id="leaderboardcontainer" class="tab-content">
						<!-- daily Leaderboard -->
						<div class="tab-pane fade active in " id="daily">	
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr> 
								</thead>
								<tbody> 

								<% if(ranking.daily.length > 0 ) { %>
									<% for(var i=0; i< ranking.daily.length; i++) { %>
									<tr class="animated flipInX">
										<td class="daily"><%= i+1 %></td>
										<td><a href="/u/<%= ranking.daily[i].idCool %>" title="See <%= ranking.daily[i].local.pseudo %>'s profile"><%= ranking.daily[i].local.pseudo %></a></td>
										<td><%= ranking.daily[i].level %></td>
										<td><%= ranking.daily[i].dailyScore %></td>
									</tr>
									<% }%>
								<% }%>
									
								</tbody>
							</table>
							<div class="text-right">
								<small id="updateDaily" class="convertEnd"></small><i class="fa fa-clock-o"></i>
							</div>	
						</div>
						<!-- weekly Leaderboard -->
						<div class="tab-pane fade in " id="weekly">	
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
								<% if(ranking.weekly.length > 0 ) { %>
									<% for(var i=0; i< ranking.weekly.length; i++) { %>
									<tr class="animated flipInX">
										<td class="weekly"><%= i+1 %></td>
										<td><a href="/u/<%= ranking.weekly[i].idCool %>" title="See <%= ranking.weekly[i].local.pseudo %>'s profile"><%= ranking.weekly[i].local.pseudo %></a></td>
										<td><%= ranking.weekly[i].level %></td>
										<td><%= ranking.weekly[i].weeklyScore %></td>
									</tr>
									<% }%>
								<% }%>
								</tbody>
							</table>
							<div class="text-right">
								<small id="updateWeekly"></small><i class="fa fa-clock-o"></i>
							</div>	
						</div>
						<!-- Monthly Leaderboard -->
						<div class="tab-pane fade in " id="monthly">		
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
									<% if(ranking.monthly.length > 0 ) { %>
									<% for(var i=0; i< ranking.monthly.length; i++) { %>
									<tr class="animated flipInX">
										<td class="monthly"><%= i+1 %></td>
										<td><a href="/u/<%= ranking.monthly[i].idCool %>" title="See <%= ranking.monthly[i].local.pseudo %>'s profile"><%= ranking.monthly[i].local.pseudo %></a></td>
										<td><%= ranking.monthly[i].level %></td>
										<td><%= ranking.monthly[i].monthlyScore %></td>
									</tr>
									<% }%>
									<% }%>
								</tbody>
							</table>
							<div class="text-right">
								<small id="updateMonthly"></small><i class="fa fa-clock-o"></i>
							</div>	
						</div>
						<!-- General Leaderboard -->
						<div class="tab-pane fade in " id="global">		
							<table class="table">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Challenger</th>
										<th>Level</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>

									<% if(ranking.global.length > 0 ) { %>
									<% for(var i=0; i< ranking.global.length; i++) { %>
									<tr class="animated flipInX">
										<td class="global"><%= i+1 %></td>
										<td><a href="/u/<%= ranking.global[i].idCool %>" title="See <%= ranking.global[i].local.pseudo %>'s profile"><%= ranking.global[i].local.pseudo %></a></td>
										<td><%= ranking.global[i].level %></td>
										<td><%= ranking.global[i].globalScore %></td>
									</tr>
									<% }%>
									<% }%>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-12">					
					<p>
						Rankings are updated each day, week and month at midnight. 
					</p>
					<p>
						Challengers have 24 hours to gather the maximum of bonus points by completing challenge, gathering experience, level uping and sharing on social-networks.
					</p>	
				</div>
			</div>

		</div>
		<% include statics/footers %>
		<script type="text/javascript">
			$(function() {

				var cron = '00 00 06 * * *';
				var s = later.parse.cron(cron);
				var next =   later.schedule(s).next(10);
				console.log(next);


			});
			// var day = function (){				
			// 	var d = new Date();
			// 	d.setHours(24,1,0,0)
			// 	var converted = moment(d).countdown().toString();
			// 	$('#updateDaily').text(converted);
			// }
			// var week = function (){				
			// 	var d = new Date();

			// 	var day = d.getDay()
			// 	, diff = d.getDate() - day + (day == 0 ? -6:1); 
			// 	var w = new Date(d.setDate(diff))
				
			// 	var converted = moment(w).countdown().toString();
			// 	$('#updateWeekly').text(converted);
			// }
			// var month = function (){		
			// 	var now = new Date();
			// 	if (now.getMonth() == 11) 
			// 		var current = new Date(now.getFullYear() + 1, 0, 1);
			// 	else 
			// 		var current = new Date(now.getFullYear(), now.getMonth() + 1, 1);

			// 	var converted = moment(current).countdown().toString();
			// 	$('#updateMonthly').text(converted);
			// }
		</script>
	</body>
	</html>