<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Challenges I created - Challenge your Friends">
    <meta name="description" content="List of Challenge created by <%= currentUser.local.pseudo %>">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Challenges I created - Challenge your Friends">
    <meta property="og:description" content="List of Challenge created by <%= currentUser.local.pseudo %>">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Challenges I created - Challenge your Friends">
    <meta name="twitter:description" content="List of Challenge created by <%= currentUser.local.pseudo %>">
    <!-- Twitter card end -->
	<title>Challenges created by <%= currentUser.local.pseudo %></title>
</head>
<body>

	<% include statics/navTop %>
	<div class="canvas">
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<h2>Challenges created</h2>
					
				</div>
				<ul class="list-unstyled">
					<% for(var i=0; i< challenges.length; i++) { %>
					<li>
						<span class="<%= challenges[i].icon %>"></span>
						<a href='/c/<%= challenges[i].idCool %>'>
							<%= challenges[i].title %>
						</a> -- <span class="dateReadability" data-date="<%= challenges[i].creation %>"></span>

						<a href="/removeChallenge/<%= challenges[i]._id %>" class="btn btn-punch btn-warning btn-xs"> Delete</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>

	<% include statics/footers %>

	<script type="text/javascript">

		$(function() {
			readability();
		});

		var readability = function(){
			$('.dateReadability').each( function () {
				var date = $(this).attr('data-date');
							var converted = moment(date).format('dddd DD MMMM HH[h]mm[m]'); //.endOf('hours').fromNow();
							$(this).text(converted);
						})
		}
	</script>



</body>
</html>