<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title></title>
</head>
<body>

	<% include statics/navTop %>
	

	<div class="modal fade" tabindex="-1" role="dialog" id="processConfirm" aria-labelledby="processConfirm" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Fill the form up to ask your challenger to confirm your success.
					</h3>
				</div>

				<div class="panel-body">
					<div class="col-md-6">
						<div class="form-group">
							<img id="imgp1" src="" >
							<label for="proofLink1" class="control-label">Proof link 1*</label>
							<input type="file" title="Browse" id="proofLink1" class="file-inputs">
							<span class="hidden" id="imNowb64_p1"></span>
						</div>
						<div class="form-group">
							<img id="imgp2" src="" >
							<label for="proofLink2" class="control-label">Proof link 2 (optional)</label>
							<input type="file" title="Browse" id="proofLink2" class="file-inputs">
							<span class="hidden" id="imNowb64_p2"></span>
						</div>

					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="additionnalComment" class="control-label">Something to say?</label>
							<textarea class="form-control" id="additionnalComment" rows="6"></textarea>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-punch btn-default" >Close</button>
					<button type="button" id="valConfirm" data-idChallenge="<%= ongoing._id %>" class="btn btn-punch btn-success">Send the validation request</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="successModal" aria-labelledby="successModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-ok"></span>
						Confirmation request sent!
					</h3>
				</div>
				<div class="panel-body">
					You will be redirected to your divrofile in 5 seconds.
				</div>
			</div>
		</div>
	</div>

	<div class="canvas">
		<canvas id="animeBg" class="animated fadeIn"></canvas>
		<div class="container">

			<div class="row">
				<h1>
					<span class="<%= ongoing._idChallenge.icon %>"></span> 
					<%= ongoing._idChallenge.title %> 
					<small> <%= ongoing._idChallenge.game %></small>
				</h1>
				<hr>

				<% if( currentUser && ongoing._idChallenged._id.toString() === currentUser._id.toString()  && !ongoing.waitingConfirm) { %>
				<div class="col-lg-8">	 			
					<% } else { %>
					<div class="col-lg-12">	 			
						<% } %>
						<p>

							<a href='/u/<%= ongoing._idChallenger.idCool %>'>
								<%= ongoing._idChallenger.local.pseudo  %>
							</a>
							<span class="glyphicon glyphicon-arrow-right"></span>
							<a href='/u/<%= ongoing._idChallenged.idCool %>'>
								<%= ongoing._idChallenged.local.pseudo  %>
							</a>

						</p>
						<p>
							<strong>Description :</strong> <%= ongoing._idChallenge.description %>
						</p>
						<p>
							<strong>Start :</strong> <%= ongoing.launchDate %>
						</p>
						<p>
							<strong>End by :</strong> <%= ongoing.deadLine %>
						</p>
						<p>
							<strong>Created :</strong> <%= ongoing._idChallenge.creation %>
						</p>
						<p>
							<strong>Challenge page :</strong>
							<a href='/c/<%= ongoing._idChallenge.idCool %>'>
								<%= ongoing._idChallenge.title  %>
							</a>
						</p>
					</div>

					<% if( currentUser && ongoing._idChallenged._id.toString() === currentUser._id.toString() && !ongoing.waitingConfirm ) { %>
					<div class="col-lg-4" id="mayIask" data-launchDate="<%= ongoing.launchDate %>">
						<div class="well">
							<button type="button" id="IDidIt" class="btn btn-punch btn-success btn-lg btn-block">I completed it!</button>
							<button type="button" class="btn btn-danger btn-punch btn-lg btn-block">I give up.</button>
						</div>
					</div>

					<% } %>

				</div>
			</div>

			<% include statics/footers %>

			<script type="text/javascript">
				$(function() {
					$('.file-inputs').bootstrapFileInput();


					openedCompletion();

					$("#IDidIt").click( function(e){
						e.preventDefault();
						$('#processConfirm').modal('show');

					});
					function submitFinal(data) {
						$.ajax({
							type: 'POST',
							data: JSON.stringify(data),
							dataType: 'json',
							contentType: 'application/json',
							url: './validationRequest',						
							success: function(data) {
								console.log('success');

								$('#processConfirm').modal('hide');
								$('#processConfirm').on('hidden.bs.modal', function (e) {
									e.preventDefault();

									$('#successModal').modal('show');

									window.setTimeout(function(){
										window.location.href = "./profile";
									}, 5000);
								});
							}
						});
					}
					function sendToImgur(imgB64 , cb){
						$.ajax({
							url: 'https://api.imgur.com/3/image',
							type: 'post',
							headers: {
								Authorization: 'Client-ID a10cc023eeaf638'
							},
							data: {
								image: imgB64,
								type :'base64'
							},
							dataType: 'json',
							success: function(json) {
								cb(json)
							},
							error: function(json) {
								cb(json)
							}
						});
					}
					function getx64(input, type) {
						if ( input.files && input.files[0] ) {
							var FR= new FileReader();
							FR.onload = function(e) {
								$('#imgp'+type).width(50).height(50).attr( "src", e.target.result );
								$('#imNowb64_p'+type).attr('data-b64', (e.target.result).replace(/^data:image\/(png|jpg|JPG|jpeg|gif);base64,/, "") );
							};     
							FR.readAsDataURL( input.files[0] );
						}
					}
					$("#proofLink1, #proofLink2").change(function(){
						getx64($('#proofLink1').get(0), 1 );
						getx64($('#proofLink2').get(0), 2 );

					});
					// Bind normal buttons
					$("#valConfirm").click( function(e){
						e.preventDefault();

						var idChallenge = $(this).attr('data-idChallenge');
						var data = {};
						data.idChallenge = idChallenge;
						data.confirmComment = $('#additionnalComment').val();

						sendToImgur($('#imNowb64_p1').attr('data-b64'), function( imageA ) {

							data.proofLink1 =  imageA.data.link;

							if($('#imNowb64_p2').attr('data-b64')) {
								sendToImgur($('#imNowb64_p2').attr('data-b64'), function( imageB ) {

									console.log(imageA);
									console.log(imageB);
									data.proofLink2 =  imageB.data.link;
									submitFinal(data);
								});
							} else {
								console.log(imageA);
								data.proofLink2 =  imageB.data.link;
								submitFinal(data);
							}
						});
						// console.log(imgData)

					});
					Ladda.bind( '.ladda-button.btn-block', {
						callback: function( instance ) {
							var progress = 0;
							var interval = setInterval( function() {
								progress = Math.min( progress + Math.random() * 0.20, 1 );
								instance.setProgress( progress );

								if( progress === 1 ) {
									instance.stop();
									clearInterval( interval );
								}
							}, 35 );
						}
					});
				});

var openedCompletion = function() {
	var div = $('#mayIask'),
	isItOpen = moment(div.attr('data-launchDate')).isBefore();

			// The challenge hasn't started yet.
			if(isItOpen === false) {
				div.remove();
			}
		}
	</script>
</body>
</html>