<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<!-- Start General metas -->
	<meta name="url" content="http://www.cyf-app.co">
	<meta name="language" content="EN">
	<meta name="reply-to" content="cyf.app@gmail.com">
	<meta name="rating" content="General">
	<meta name="keywords" content="profile, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
	<meta name="title" content="Profile - Challenge your Friends">
	<meta name="description" content="<%= currentUser.local.pseudo %> is a challenger level <%= currentUser.level %> at Challenge your Friends. He/She has <%= currentUser.friends.length %> friend(s).<%= currentUser.twitter.username ? 'twitter @'+currentUser.twitter.username :'' %> ">
	<!-- End General metas -->
	<!-- Start Open Graph metas -->
	<meta property="og:type" content="profile:<%= currentUser.local.idCool %>"> <!-- website/article/profile -->
	<meta property="og:url" content="http://cyf-app.co/u/<%= currentUser.idCool %>">
	<meta property="og:site_name" content="Challenge your Friends"/>
	<meta property="og:image" content="<%= currentUser.icon %>.png">
	<meta property="og:image:width" content="200">
	<meta property="og:title" content="Profile - Challenge your Friends">
	<meta property="og:description" content="<%= currentUser.local.pseudo %> is a challenger level <%= currentUser.level %> at Challenge your Friends. He/She has <%= currentUser.friends.length %> friend(s) <%= currentUser.twitter.username ? 'find him on twitter @'+currentUser.twitter.username :'' %>  ">
	<!-- End Open Graph -->
	<!-- Start Twitter Card Meta -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@cyf_app">
	<meta name="twitter:image" content="<%= currentUser.icon %>.png">
	<meta name="twitter:image:width" content="200">
	<meta name="twitter:title" content="Profile - Challenge your Friends">
	<meta name="twitter:description" content="<%= currentUser.local.pseudo %> is a challenger level <%= currentUser.level %> at Challenge your Friends. He/She has <%= currentUser.friends.length %> friend(s) <%= currentUser.twitter.username ? 'find him on twitter @'+currentUser.twitter.username :'' %>  ">
	<!-- Twitter card end -->
	<title>This is your profile, <%= currentUser.local.pseudo %> - Challenge your Friends</title>
	<link rel="stylesheet" href="./css/facebook-import.css">
	<link rel="stylesheet" href="./css/timeline.css">

</head>
<body>

	<% include statics/navTop %>
	<% xpPer = Math.round((currentUser.xp/ ( currentUser.xp + currentUser.xpNext) )*100); %>

	<div class="canvas">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="user-card card text-center">
							<a href="/u/<%= currentUser.idCool %>" class="animated fadeInLeft"><img src="<%= currentUser.icon %>" class="img-rounded avatar "></a>
							<h4><%= currentUser.local.pseudo %></h4>
							<div class="text-center infos row">
								<div class="col-xs-4">
									<a href="/friends">
										<strong><%= currentUser.friends.length %></strong>
										<span>Friends</span>
									</a>									
								</div>
								<div class="col-xs-4">
									<strong><%= currentUser.level %></strong>
									<span>Level</span>	
								</div>
								<div class="col-xs-4">
									<a href="/leaderboard">
										<strong><%= currentUser.dailyRank %></strong>
										<span>Rank</span>
									</a>				
								</div>								
							</div>
							<div class="loaderProgress popmeout" id="t_xpBar" data-placement="bottom" data-title="Experience bar - level <%= currentUser.level %>" data-description="Next Level: <%= (currentUser.xp + currentUser.xpNext) %> xp | Remaining: <%= (currentUser.xpNext) %>">
								<div class="tinyProgress aqua" style="width: 0%" data-percent="<%= xpPer %>"></div>
							</div>
					</div>
					<div class="card">
						<div class="panel-group panel-group-lists collapse in"  id="tabsProfile" style="height: auto;">
							<div class="panel">
								  <div class="panel-heading">
									<h4 class="panel-title" id="t_oChall">
									  <a data-toggle="collapse" data-parent="#tabsProfile" href="#ongoingsChalls">
										 <%= ongoings.length %> Challenges in progress 
									  </a>
									</h4>
								  </div>
								  <div id="ongoingsChalls" class="panel-collapse collapse <%= ongoings.length > 0 ? 'in' : '' %>">
									<div class="panel-body">
										<% if ( ongoings.length > 0 ) {
											for (var i = ongoings.length - 1; i >= 0; i--) { %>
											<div class="panel panel-<%= ((ongoings[i].waitingConfirm === true) ? 'warning' : 'primary')%>  animated <%- i % 2 ? 'fadeInLeft' : 'fadeInRight' %>">
												<div class="panel-body">

													<h5>
														<a href='/o/<%= ongoings[i].idCool %>'>
															<%= ongoings[i]._idChallenge.title %>
														</a>
													</h5>
													<div class="row">
														<div class="col-sm-12">
															<p>
																<%= ongoings[i]._idChallenge.description  %>
															</p>		

															<p>

																<span class="glyphicon glyphicon-star-empty"></span>
																<a href='/u/<%= ongoings[i]._idChallenger.idCool %>'>
																	<%= ongoings[i]._idChallenger.local.pseudo  %>
																</a>
																<span class="glyphicon glyphicon-flash"></span>
																<a href='/u/<%= ongoings[i]._idChallenged.idCool %>'>
																	<%= ongoings[i]._idChallenged.local.pseudo  %>
																</a>

															</p>	
														</div>						
													</div>
													<div class="row">
														<div class="col-sm-6">
															<p>
																<span class="glyphicon glyphicon-calendar"></span>
																<span class="dateReadability" data-date="<%= ongoings[i].launchDate %>"></span>
															</p>
															<p>
																<span class="glyphicon glyphicon-calendar"></span>
																<span class="dateReadability" data-date="<%= ongoings[i].deadLine %>"></span>
															</p>										
														</div>
														<div class="col-sm-6 text-right">
															Value: <%= ongoings[i]._idChallenge.value %> <span class="glyphicon glyphicon-certificate"></span>
														</div>									
													</div>								
												</div>
												<div class="panel-footer">
													<% if(ongoings[i].waitingConfirm === true) { %>
													<%= ((ongoings[i]._idChallenged._id.toString() === currentUser._id.toString()) ? 'You' :  ongoings[i]._idChallenged.local.pseudo)%> asked for the validation of this challenge : <span class="dateReadability" data-date="<%= ongoings[i].confirmAsk %>"></span>

													<% } else { %>
													<strong class="convertEnd" data-tEnd="<%= ongoings[i].deadLine %>"></strong>
													<% } %>
												</div>
											</div>
											<% } %>
										<% } %>
									</div>
								  </div>
							</div>
							<div class="panel">
								  <div class="panel-heading">
									<h4 class="panel-title"  id="t_league">
									  <a data-toggle="collapse" data-parent="#tabsProfile" href="#lol_games">
										<%= currentUser.leagueoflegend && currentUser.leagueoflegend.lastGames.length > 0 ? currentUser.leagueoflegend.lastGames.length : 0 %> Last games
										<% if (currentUser.leagueoflegend.confirmed === true)  { %>
											<span class="pull-right gameSync">
												<i class="fa fa-refresh mint-color"></i> 
											</span>
										<% } %>
									  </a>
									</h4>
								  </div>
								  <div id="lol_games" class="panel-collapse collapse">
										<div class="panel-body">
										<% if ( currentUser.leagueoflegend && currentUser.leagueoflegend.confirmed === true && currentUser.leagueoflegend.lastGames.length > 0 ) { %>
										<%  var games = currentUser.leagueoflegend.lastGames.reverse();
										var lolilength = games.length-1 > 10 ? 10 : games.length-1;
										for (var i = lolilength; i >= 0; i--) { %>
											<div class="col-md-12 col-sm-12 ">	
												<div class="media">
													<div class="media-body">
														<h4 class="media-heading"><%= games[i].subType %></h4>	
														<h6 class="pull-right text-center <%= games[i].stats.win ? 'grass': 'grapefruit' %>"><%= games[i].stats.win ? 'won': 'lost' %>
														<p><span class="minutesReadability" data-date="<%= games[i].stats.timePlayed %>"></span></p>
														</h6>
														<img class="media-object img-rounded img-responsive" src="./img/assets_lol/champions/<%= games[i].championInfos.key %>.jpg">
														<p><%= games[i].createDate %></p>
													</div>
												</div>
											</div>
								
										<% } %>
										<% } else if (currentUser.leagueoflegend.confirmed === true) { %>	

											<div class="media-body text-center">
												<button type="button" class="btn mint gameSync"> <i class="fa fa-refresh"></i> Sync my last games now</button>
											</div>

										<% } else { %>	

											<div class="media-body text-center">
												<a href="./settings#tab_linkGames" class="btn aqua"> <i class="fa fa-link"></i> Link your Account now!</a>
											</div>

										<% } %>
										</div>
								  </div>
							</div>
							<div class="panel">
								  <div class="panel-heading">
									<h4 class="panel-title"  id="t_badges">
									  <a data-toggle="collapse" data-parent="#tabsProfile" href="#tab_badges">
										<%= currentUser.badges && currentUser.badges.length > 0 ? currentUser.badges.length : 0 %> My Badges
									  </a>
									</h4>
								  </div>
								  <div id="tab_badges" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="badgeList">
											<% if(currentUser.badges && currentUser.badges.length > 0) {
												for(var i=0; i< currentUser.badges.length; i++) { 
												var badge = currentUser.badges[i]; 
												if(badge.idBadge) {
												%>
											<a href="/badge/<%= badge.idBadge._id %>" class="popbadge" data-title="<%= badge.idBadge.title %>" data-description="<%= badge.idBadge.description %>" data-date="<%= badge.dateUnlocked %>" data-req="<%= badge.idBadge.reqType %>"  data-placement="bottom" data-trigger="hover">
												<img src="/img/badges/daily_ranked_1.png" class="img-responsive hover-me" >
											</a>
											<% }
											}
											}%>
										</div> 
									</div>
								  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 clearfix">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gamelist" id="myGamesList">
								<h3>Playing</h3>
								<div class="card">
									<% if(currentUser.games.length > 0) {
										 for (var i = currentUser.games.length - 1; i >= 0; i--) { 
										%>
										<span id="<%= currentUser.games[i]._idGame %>" class="label label-info <%= currentUser.games[i].type %>"><%= currentUser.games[i].title %></span>
									<% }
									} %>
									<a href="./settings#tab_linkGames" title="add an game" id="t_addGames" class="label label-default">
										<span class="fa fa-plus"></span>
										Add Games
									</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
								<h3>Linked accounts</h3>
								<div class="card">
									<% if (currentUser.local.pseudo) { %>
									<span class="label label-default">CyF</span>
									<% } %>
									<% if (currentUser.facebook.token) { %>
									<a href="https://www.facebook.com/profile.php?id=/<%= currentUser.facebook.id %>" title="see <%= currentUser.facebook.name %> on Facebook" target="_blank" class="label label-primary">Facebook</a>
									<% } %>
									<% if (currentUser.google.token) { %>
									<span class="label label-danger">Google</span>
									<% } %>
									<% if (currentUser.leagueoflegend.idProfile && currentUser.leagueoflegend.confirmed) { %>
									<span class="label label-info">League of Legend</span>
									<% } %>
									<% if (currentUser.twitter.token) { %>
									<a href="https://www.twitter.com/<%= currentUser.twitter.username %>" title="see <%= currentUser.twitter.username %> on twitter" target="_blank" class="label label-info">Twitter</a>
									<% } %>
									<a href="./settings" title="add an account" id="t_linkacc" class="label label-default">
										<span class="fa fa-plus"></span>
										Add
									</a>
									
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
								<h3>Invite friends</h3>
								<div class="card">
									<% if (currentUser.facebook.token) { %>
									<a href="javascript:{}" class="bt-fs-dialog label label-primary">From Facebook</a>
									<small>(xp: 75 per Friends invite)</small>
									<% } else { %>
									<a href="./settings#tab_connectNetworks" title="Connect Facebook first" id="t_addFriends" class="label label-default">
										<span class="fa fa-plus"></span>
										Connect Facebook first
									</a>
									<% } %>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h3>Ladders ranking</h3>	
								<div class="card">
									<table class="table table-striped text-center">
										<thead>
											<tr>
												<th class="text-center" id="t_lastDaily">Last Daily rank</th>
												<th class="text-center" id="t_lastWeek">Last Week</th>
												<th class="text-center" id="t_lastMonth">Last Month</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><%= currentUser.dailyRank === 0 ? 'not ranked yet!' : currentUser.dailyRank %></td>
												<td><%= currentUser.weeklyRank === 0 ? 'not ranked yet!' : currentUser.weeklyRank %></td>
												<td><%= currentUser.monthlyRank === 0 ? 'not ranked yet!' : currentUser.monthlyRank %></td>
											</tr>
										</tbody>
									</table>
									<table class="table table-striped text-center">
										<thead>
											<tr>
												<th class="text-center"></th>
												<th class="text-center">Daily</th>
												<th class="text-center">Weekly</th>
												<th class="text-center">Monthly</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>XP</th>
												<td><%= currentUser.daily.xp %></td>
												<td><%= currentUser.weekly.xp %></td>
												<td><%= currentUser.monthly.xp %></td>
											</tr>
											<tr>
												<th>level</th>
												<td><%= currentUser.daily.level %></td>
												<td><%= currentUser.weekly.level %></td>
												<td><%= currentUser.monthly.level %></td>
											</tr>
											<tr>
												<th>Facebook share</th>
												<td><%= currentUser.daily.shareFB %></td>
												<td><%= currentUser.weekly.shareFB %></td>
												<td><%= currentUser.monthly.shareFB %></td>
											</tr>
											<tr>
												<th>Facebook share</th>
												<td><%= currentUser.daily.shareTW %></td>
												<td><%= currentUser.weekly.shareTW %></td>
												<td><%= currentUser.monthly.shareTW %></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
								<div class="tabbable tabs-left clearfix">
									<ul id="tabbyTab" class="nav nav-tabs nav-justified">
										<li class="active"><a href="#xpTab" data-toggle="tab">XP Progression</a></li>
										<li><a href="#levelTab" data-toggle="tab">Level Progression</a></li>
										<li><a href="#ranksTab" data-toggle="tab">Ranks Historic</a></li>
									</ul>
									<div id="tabby" class="tab-content card">
										<div class="tab-pane active" id="xpTab">
											<canvas id="historygraph"></canvas>
										</div>
										<div class="tab-pane" id="levelTab">
											<canvas id="levelgraph"></canvas>
										</div>
										<div class="tab-pane" id="ranksTab">
											<canvas id="ranksgraph"></canvas>
										<div class="text-left">
											
										Last daily rank <i class="fa fa-square grapefruit-color "></i>
										<!-- Last Week <i class="fa fa-square sunflower-color"></i>
										Last Month <i class="fa fa-square aqua-color"></i> -->
										</div>
										</div>
										<div class="text-right">
											<small class="timer"></small>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
								<ul class="timeline">
									<% var notif = currentUser.notifications;
									for (var i = notif.length - 1; i >= 0; i--) {
										if(notif[i].persist === true) { 
											var isOdd =  (i % 2) ? '' : 'timeline-inverted'
											, type = (notif[i].type == 'challengeSuccess') ? 'success' : ((notif[i].type == 'challengeReceive') ? 'danger' : 'info');
											%>
											<li class="<%= isOdd %> ">
												<div class="timeline-badge <%= type %>"><span class="<%= notif[i].icon %>"></span></div>
												<div class="timeline-panel glow-shad ">
													<div class="timeline-heading">
														<h4 class="timeline-title"><%= notif[i].title %></h4>
														<p>
															<small class="text-muted">
																<i class="glyphicon glyphicon-time"></i>
																<span class="timeAgo" data-date="<%= notif[i].date %>"></span>
															</small>
														</p>
													</div>
													<div class="timeline-body">
														<p> <a href="<%= notif[i].link2 %>" ><%= notif[i].to %></a> <%= notif[i].message %></p>
													</div>
												</div>
											</li>
											<% } 
									} %>
								</ul>	
							</div>		
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="successModal" aria-labelledby="successModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-ok"></span>
						Good job, invites sent!
					</h3>
				</div>
				<div class="panel-body">
					<div class="media">
						<div class="pull-left">
							<div class="lol-p-icon642"></div>
						</div>
						<div class="media-body">
						  <h4 class="media-heading">You invited <span id="friendLength"></span>!</h4>
						  <p>Congratulation, you have successfully invited your friends, and you gained 75xp <strong>per invitation</strong>!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<% if(!currentUser.tutorialCompleted) {  %>
	<link href="./css/tour.min.css" media="all" rel="stylesheet" type="text/css" >

	<% } %>
	<% include statics/footers %>
	<script type="text/javascript" src="./js/chart.min.js"></script>
	<% if(!currentUser.tutorialCompleted) {  %>
		<script type="text/javascript" src="./js/tour.min.js"></script>
	<% } %>
	<script type="text/javascript">
		$(function() {
			//$(".graphsTab input[type=checkbox]").bootstrapSwitch();
			//
		
		<% if(!currentUser.tutorialCompleted) {  %>
			// Instance the tour
			var tour = new Tour({
				debug:true,
				steps: [
				{
				  element: "#t_menuChall",
				  title: "Find some friends",
				  content: "Cyf works with friends, you'll find people here to add as friends. <br> You <strong>need</strong> some to launch and receive challenges. Pro tip: add people who play the same games as you ;).",
					placement: "bottom"
				},
				{
				  element: "#t_chat",
				  title: "Live Chat",
				  content: "Hover to show the global chat, you can click to fix the chat !",
					placement: "bottom"
				},
				{
				  element: "#t_logs",
				  title: "Activity logs",
				  content: "You can see what happens on Cyf in real time! hover to show, click to stick it visible.",
					placement: "bottom"
				},
				{
				  element: "#scorebox",
				  title: "This is your level",
				  content: "Each action you make on Cyf will reward you of experience.<br>Make enough experience to reach highers level and unlock cool features!",
					placement: "right"
				},
				{
				  element: "#t_idCool",
				  title: "Your personal ID!",
				  content: "Each challenger have its own id, this is yours!",
					placement: "right"
				},
				{
				  element: "#t_xpBar",
				  title: "Experience bar.",
				  content: "This bar shows your progress through the next level, based on your xp.",
					placement: "right"
				},
				{
				  element: "#t_linkacc",
				  title: "Link your social accounts",
				  content: "You can link your Facebook and Twitter accounts, you can also link your League of Legend account to show your last 10 games.<br><br> this will allow you to share easily and gain more xp!",
					placement: "right"
				},
				{
				  element: "#t_addGames",
				  title: "Let others challengers know what you play!",
				  content: "It's really important to let people know on which game they can challenge you.",
					placement: "right"
				},
				{
				  element: "#t_lastDaily",
				  title: "This is your ranking for yesterday!",
				  content: "Leaderboard are generated on a daily basis to let you enjoy every second on cyf.<br><br>Need more competition? Click Next",
					placement: "right"
				},
				{
				  element: "#t_lastWeek",
				  title: "This will be your weekly ranking.",
				  content: "There is a ladder generated each week, launch and complete as many challenges as you can in order to be ranked amongst the top challengers!<br><br>Need more? Click next.",
					placement: "right"
				},
				{
				  element: "#t_lastMonth",
				  title: "This will be your monthy rank.",
				  content: "Each month challengers are ranked based on what they have been able to accomplish during the past month.<br>This is like the daily and weekly ranking but over an entire month.",
					placement: "right"
				},
				{
				  element: "#tabby",
				  title: "Dedicated graphs!",
				  content: "You can see your evolution through 3 differents graphs here: <ul><li>The first tab shows your cumulated experience you have been able to gather, it's updated twice a day.</li><li>The second time shows your level curve over time. Updated twice a day.</li><li>The third tab shows the evolution of your daily rank over time, updated once a day.</li></ul><br><br> Don't worry, the two first day may show an empty graph as we are processing your data!",
					placement: "top"
				},
				{
				  element: "#t_oChall",
				  title: "Your ongoing challenges",
				  content: "Ongoing challenges are listed here. <br> You can launch challenges to the friends you have on Cyf.<br><br> You will need friends on cyf to receive some challenges, so you should add some as soon as possible!",
					placement: "bottom"
				},
				{
				  element: "#t_league",
				  title: "Your last League of Legend games",
				  content: "This is still an alpha feature which allows you to see your last 10 games on League of Legend.<br><br> You will need to connect your account on your settings.",
					placement: "bottom"
				}			  
			]});

			// Initialize the tour
			tour.init();

			// Start the tour
			tour.start();

		<% } %>

			$(".bt-fs-dialog").fSelector({
				// excludeIds: [<%= currentUser.fbInvitedFriends.length >0 ? currentUser.fbInvitedFriends : '' %>],
				  closeOnSubmit: true,
				  max: 50,
				  lang: {
					title: "Invite more friends!",
					buttonSubmit: "Invite",
					buttonCancel: "Cancel",
					buttonSelectAll: "Select All",
					buttonDeselectAll: "Deselect All",
					buttonShowSelected: "Show Selected",
					buttonShowAll: "Show All",
					summaryBoxResult: "{1} best results for {0}",
					summaryBoxNoResult: "No results for {0}",
					searchText: "Enter a friend's name",
					fbConnectError: "You must connect to Facebook to see this. Please go to your Settings and enable Facebook connection.",
					selectedCountResult: "You have choosen {0} potential new challengers, awesome!",
					selectedLimitResult: "Limit is {0} people.",
					facebookInviteMessage: "I am using Challenge your Friends and it's awesome! This website allows me to send and receive challenges on almost ANY games! It gives me new way to play and I like it. Please join me and let's throw challenges to each others, it's FUN!"
				  },
				  facebookInvite: true,
				  onSubmit: function(response) {
						var target = {					
							list: response
						}
						$.ajax({
							type: 'POST',
							data: JSON.stringify(target),
							contentType: 'application/json',
							url: './invitedFriends',						
							success: function(data) {
								$('#friendLength').text(data);
								$('#successModal').modal('show');
							}
						});	
				},
				onClose: function(response) {
				}
			});

			$('.gameSync').on('click', function(e){
				e.preventDefault();
				_this = $(this)
				_this.addClass('spinning');
				$.ajax({
					type: 'POST',
					contentType: 'application/json',
					url: './syncLoLGames',						
					success: function(data) {
						_this.removeClass('spinning').fadeOut('slow', function() {
						if(data === false)
							_this.html('<i class="fa fa-check-square-o"></i> Up to date').fadeIn('slow');
						else
							_this.addClass('disabled').html('<i class="fa fa-info"></i> Updated').fadeIn('slow');
							window.location.reload();
						});
					}
				});	

			})
			$('.badggies img').hover(function(e){
				$(this).tooltip('show')
			},function(){
				$(this).tooltip('hide')
			})
			
			var meNot = false;
			$('.linked').hover(function(){
				var _this = $(this);
				_this.children('.meany').addClass('hidden');
				_this.children('a').removeClass('hidden');

			}, function(){
				var _this = $(this);
				_this.children('a').addClass('hidden');
				_this.children('.meany').removeClass('hidden');
			});
			//pop it
			timer();
			setInterval(function(){
				timer();
			},60000);



			function offsetArray (arr,lie,val) {
				var cL = arr.length-1;
				var val = val?val:0;
				var lie = lie?lie:cL;
				if(arr.length <= 1){
					return arr.length === 1 ? [val,arr[0]]: (arr.length === 0 ? [val,val]: arr);
				}
				else {
					for (var i = cL; i < lie; i++) {
						arr.push(val)
					};
					return arr;
				}
			}
			// return an array composed of a list of the days' number from 1 month ago until today, not included.
			function getAllDays() {
				var e = moment();
				var s = moment().subtract('months', 1); // PREMIUM
				// var s = moment().subtract('days', 5);
				var a = [];

				while(s.isBefore(e)) {
					a.push(s.format("MMM - DD"));
					s = s.add('days', 1);
				}
				return a;
			}

			//================================================
			// User Xp Historic graph
			//================================================
			//Setup vars
			var deviceWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
			var tabletSized = (deviceWidth < 1200) ? true : false
			,  mobileSized = (deviceWidth < 768) ? true : false
			, dota2 = []
			, warcraft4 = []
			, dailyR = []
			, weeklyR = []
			, monthlyR = []
			, rankLabels = []
			, rankLabelsW = []
			, rankLabelsM = [];
			var dataLabels = [];//getAllDays();

			//Load our data
			var historic = JSON.parse('<%-JSON.stringify(currentUser.xpHistoric)%>');
			var rHistDaily = JSON.parse('<%-JSON.stringify(currentUser.dailyArchives)%>');
			// var rHistWeekly = JSON.parse('<%-JSON.stringify(currentUser.weeklyArchives)%>');
			// var rHistMonthly = JSON.parse('<%-JSON.stringify(currentUser.monthlyArchives)%>');

			if(!mobileSized) {
				// Add the current rank!
				<% if(currentUser.dailyRank > 0) {%>
					rHistDaily.push({'rank': <%=currentUser.dailyRank %>,'date': moment()});
				<%} %>

				<% if(currentUser.weeklyRank > 0) {%>
					// rHistWeekly.push({'rank': <%=currentUser.weeklyRank %>,'date': moment()});
				<%} if(currentUser.monthlyRank > 0) {%>
					// rHistMonthly.push({'rank': <%=currentUser.monthlyRank %>,'date': moment()});
				<%} %>

				historic = historic.reverse();
				rHistDaily = rHistDaily.reverse();
				// rHistWeekly = rHistWeekly.reverse();
				// rHistMonthly = rHistMonthly.reverse();

				var keyLength = tabletSized ? 5 : 30;
				for (var key = keyLength; key >= 0; key--) {

					if(historic[key]){
						dota2.push(historic[key].xp);
						warcraft4.push(historic[key].level);
						dataLabels.push(moment(historic[key].date).format("MMM Do a"))
					}

					if(rHistDaily[key]){
						rankLabels.push(moment(rHistDaily[key].date).subtract('days', 1).format("MMM Do"))
						dailyR.push(rHistDaily[key].rank);
					}

					// if(rHistWeekly[key]) {
					// 	rankLabelsW.push(moment(rHistWeekly[key].date).subtract('weeks', 1).format("MMM Do"))
					// 	weeklyR.push(rHistWeekly[key].rank);
					// }

					// if(rHistMonthly[key]) {
					// 	rankLabelsM.push(moment(rHistMonthly[key].date).subtract('months', 1).format("MMM Do"))
					// 	monthlyR.push(rHistMonthly[key].rank);
					// }

				}
				// We need at LEAST 2 values (it's a graph, yep)
				dota2 = offsetArray(dota2,dota2.length-1);
				warcraft4 = offsetArray(warcraft4,warcraft4.length-1);

				whatCanIDoToday = _.max(dailyR)
				// Put all our ranking graph to the same length

				dailyR = offsetArray(dailyR,dailyR.length-1,whatCanIDoToday);
				//  TBReactivated
				// if(weeklyR.length > 0)
				// 	weeklyR = offsetArray(weeklyR,dailyR.length-1,whatCanIDoToday);
				// if(monthlyR.length > 0)
				// 	monthlyR = offsetArray(monthlyR,dailyR.length-1,whatCanIDoToday);

				// Now take the labels to the same length (slice or take the last X ones)
				var rankLab=dailyR.length<dataLabels.length?dataLabels.slice(dataLabels.length-dailyR.length,dataLabels.length):dataLabels;

				// =========================
				//BUILD CHARTS
				// =========================
				var xpLab = dota2.length < dataLabels.length ? dataLabels.slice(dataLabels.length - dota2.length,dataLabels.length) : dataLabels;

				var dataXp = {
					labels : xpLab,
					datasets : [
						{
							fillColor : "rgba(16,100,83,0.2)",
							strokeColor : "rgba(16,100,83,0.6)",
							pointColor : "rgba(16,100,83,0.8)",
							pointStrokeColor : "#fff",
							data : dota2
						}
					]
				}
				//Level Graph
				var lvlLab = warcraft4.length < dataLabels.length ? dataLabels.slice(dataLabels.length - warcraft4.length,dataLabels.length) : dataLabels;
				var optLvl = {
						scaleOverride : true,
						scaleSteps : <%= currentUser.level+1 %>,
						scaleStepWidth : 1,
						scaleStartValue : 0
				}
				var dataLevel = {
					labels : lvlLab,
					datasets : [
						{
							fillColor : "rgba(159,238,0,0.3)",
							strokeColor : "rgba(159,238,0,0.6)",
							pointColor : "rgba(159,238,0,0.8)",
							pointStrokeColor : "#fff",
							data : warcraft4
						}
					]
				}
				//Ranks Graph
				var optRk = {
					datasetFill: true,
					bezierCurve : false,
					scaleOverride : true,
					scaleSteps : dailyR[dailyR.length-1]+1,
					scaleStepWidth : 1,
					scaleStartValue : 0
				}

				var dataRanks = {
					labels : rankLabels,
					datasets : [
						{
							fillColor : "rgba(237,85,101,0.3)",
							strokeColor : "rgba(237,85,101,0.6)",
							pointColor : "rgba(237,85,101,0.8)",
							pointStrokeColor : "#fff",
							data : dailyR
						}
					]
				}
				/*,
						{
							fillColor : "rgba(255,206,84,0.3)",
							strokeColor : "rgba(255,206,84,0.6)",
							pointColor : "rgba(255,206,84,0.8)",
							pointStrokeColor : "#fff",
							data : weeklyR
						},
						{
							fillColor : "rgba(79,193,233,0.3)",
							strokeColor : "rgba(79,193,233,0.6)",
							pointColor : "rgba(79,193,233,0.8)",
							pointStrokeColor : "#fff",
							data : monthlyR
						}*/
				// Build Canvas
				var desiredRatio = $("#historygraph").parent().width(); // Used for all graphs

				if(dota2.length > 2) {
					var canvasXp = $("#historygraph")[0];
					var ctxXp = canvasXp.getContext("2d");

					canvasXp.setAttribute('width', desiredRatio);
					canvasXp.setAttribute('height', desiredRatio/2.5);
					//Build charts
					new Chart(ctxXp).Line(dataXp);
				}
				if(warcraft4.length > 2) {
					var canvasLevel = $("#levelgraph")[0];
					var ctxLevel = canvasLevel.getContext("2d");
					canvasLevel.setAttribute('width', desiredRatio);
					canvasLevel.setAttribute('height', desiredRatio/2.5);

					new Chart(ctxLevel).Line(dataLevel,optLvl);
				}
				if(dailyR.length > 2) {
					var canvasRanks = $("#ranksgraph")[0];
					var ctxRanks = canvasRanks.getContext("2d");
					canvasRanks.setAttribute('width', desiredRatio);
					canvasRanks.setAttribute('height', desiredRatio/2.5);
					
					new Chart(ctxRanks).Line(dataRanks,optRk);
				}
			}
		});
		var timer = function (){				
			var d = new Date();
			var x = d.setHours(12,30,0,0);
			var x2 = d.setHours(0,1,0,0);
			d.setHours(0,0,1,0);
			var converted = moment(d).countdown(new Date(),countdown.HOURS|countdown.MINUTES, NaN, 0).toString();
			var convertedx = moment(x).countdown(new Date(),countdown.HOURS|countdown.MINUTES, NaN, 0).toString();
			var convertedx2 = moment(x2).countdown(new Date(),countdown.HOURS|countdown.MINUTES, NaN, 0).toString();
			$('.timer').html('xp Next update <strong>'+convertedx+'</strong> then <strong>'+convertedx2+'</strong>.<br> Ranks next update: <strong>'+converted+'</strong>');
		}
	</script>
</body>
</html>