<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="profile, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="<%= currentUser.local.pseudo %>'s profile - Challenge your Friends">
    <meta name="description" content="<%= currentUser.local.pseudo %> is a challenger level <%= currentUser.level %> at Challenge your Friends. He/She has <%= currentUser.friends.length %> friend(s).<%= currentUser.twitter.username ? 'twitter @'+currentUser.twitter.username :'' %> ">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="profile:<%= currentUser.local.idCool %>"> <!-- website/article/profile -->
    <meta property="og:url" content="http://cyf-app.co/u/<%= currentUser.idCool %>">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="<%= currentUser.icon %>.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="<%= currentUser.local.pseudo %>'s profile - Challenge your Friends">
    <meta property="og:description" content="<%= currentUser.local.pseudo %> is a challenger level <%= currentUser.level %> at Challenge your Friends. He/She has <%= currentUser.friends.length %> friend(s) <%= currentUser.twitter.username ? 'find him on twitter @'+currentUser.twitter.username :'' %>  ">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="<%= currentUser.icon %>.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="<%= currentUser.local.pseudo %>'s profile - Challenge your Friends">
    <meta name="twitter:description" content="<%= currentUser.local.pseudo %> is a challenger level <%= currentUser.level %> at Challenge your Friends. He/She has <%= currentUser.friends.length %> friend(s) <%= currentUser.twitter.username ? 'find him on twitter @'+currentUser.twitter.username :'' %>  ">
    <!-- Twitter card end -->
	<title>This is your profile, <%= currentUser.local.pseudo %> - Challenge your Friends</title>
	<link rel="stylesheet" href="./css/facebook-import.css">
	<link rel="stylesheet" href="./css/timeline.css">

</head>
<body>

	<% include statics/navTop %>
	<% xpPer = Math.round((currentUser.xp/ ( currentUser.xp + currentUser.xpNext) )*100); %>

	<div class="canvas">
		
		<div class="container">
			<div class="row">
				<div id="user_header" class="col-lg-8">
						<div class="row">
							<div class="col-lg-2 col-xs-2 animated fadeInDown" href="#">
									<img src="<%= currentUser.icon %>" class="img-responsive img-rounded">
							</div>
							<h2 class="col-lg-10 animated fadeInDown">
								<%= currentUser.local.pseudo %> 

								<span id="scorebox">
									<span class="level text-center">
										<span class="odometer" data-number="<%= currentUser.level %>">
											0
										</span>
									</span>
								</span>
								<small> <a href="/u/<%= currentUser.idCool %>"> <i class="fa fa-chain"></i> <%= currentUser.idCool %> </a></small>
							</h2>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="loaderProgress animated fadeInDown">
											<div class="tinyProgress tinySimpleBlue" style="width: 0%" data-percent="<%= xpPer %>"></div>

											<div class="xp text-center">
												<%= currentUser.xp %>/<%= (currentUser.xp + currentUser.xpNext) %>
											</div>
										</div>
							</div>
							<div class="col-lg-12">	
								<h4>Linked accounts: </h4>
								<% if (currentUser.local.pseudo) { %>
								<span class="label label-default">CyF</span>
								<% } %>
								<% if (currentUser.facebook.token) { %>
								<a href="https://www.facebook.com/profile.php?id=/<%= currentUser.facebook.id %>" title="see <%= currentUser.facebook.name %> on Facebook" target="_blank" class="label label-primary">Facebook</a>
								<% } %>
								<% if (currentUser.google.token) { %>
								<span class="label label-danger">Google</span>
								<% } %>
								<% if (currentUser.leagueoflegend.idProfile && currentUser.leagueoflegend.confirmed) { %>
								<span class="label label-info">League of Legend</span>
								<% } %>
								<% if (currentUser.twitter.token) { %>
								<a href="https://www.twitter.com/<%= currentUser.twitter.username %>" title="see <%= currentUser.twitter.username %> on twitter" target="_blank" class="label label-info">Twitter</a>
								<% } %>
								<a href="./settings" title="add an account" class="label label-default">
									<span class="fa fa-plus"></span>
									Add
								</a>
							</div>
							<div class="col-lg-12">	
								<h4>Invite friends: </h4>
								<% if (currentUser.facebook.token) { %>
								<a href="javascript:{}" class="bt-fs-dialog label label-primary">From Facebook</a>
								<small>(xp: 75 per Friends invite)</small>
								<% } else { %>
								<a href="./settings" title="Connect Facebook first" class="label label-default">
									<span class="fa fa-plus"></span>
									Connect Facebook first
								</a>
								<% } %>
							</div>
							<div class="col-lg-12 gamelist" id="myGamesList">
								<h4>Playing: </h4>
							<% if(currentUser.games.length > 0) {
								 for (var i = currentUser.games.length - 1; i >= 0; i--) { 
								%>
								<span id="<%= currentUser.games[i]._idGame %>" class="label label-info <%= currentUser.games[i].type %>"><%= currentUser.games[i].title %></span>
							<% }
							} %>
								<a href="./settings" title="add an game" class="label label-default">
									<span class="fa fa-plus"></span>
									Add Games
								</a>
							</div>

							<div class="col-lg-12">
								<h3>Ladders ranking</h3>	
								<table class="table table-striped text-center">
									<thead>
										<tr>
											<th class="text-center">Last Daily rank</th>
											<th class="text-center">Last Week</th>
											<th class="text-center">Last Month</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><%= currentUser.dailyRank === 0 ? 'not ranked yet!' : currentUser.dailyRank %></td>
											<td><%= currentUser.weeklyRank === 0 ? 'not ranked yet!' : currentUser.weeklyRank %></td>
											<td><%= currentUser.monthlyRank === 0 ? 'not ranked yet!' : currentUser.monthlyRank %></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-md-12 col-lg-12 col-xs-1O col-sm-1O">
								<div class="panel">
									<div class="tabbable tabs-left clearfix">
										<ul id="tabbyTab" class="nav nav-tabs nav-justified">
											<li class="active"><a href="#xpTab" data-toggle="tab">XP Progression</a></li>
											<li><a href="#levelTab" data-toggle="tab">Level Progression</a></li>
											<li><a href="#ranksTab" data-toggle="tab">Ranks Historic</a></li>
										</ul>
										<div id="tabby" class="tab-content">
											<div class="tab-pane active" id="xpTab">
												<canvas id="historygraph"></canvas>
											</div>
											<div class="tab-pane" id="levelTab">
												<canvas id="levelgraph"></canvas>
											</div>
											<div class="tab-pane" id="ranksTab">
												<canvas id="ranksgraph"></canvas>
											<div class="text-left">
												
											Last daily rank <i class="fa fa-square grapefruit-color "></i>
											Last Week <i class="fa fa-square sunflower-color"></i>
											Last Month <i class="fa fa-square aqua-color"></i>
											</div>
											</div>
											<div class="text-right">
												<small class="timer"></small>
											</div>	
										</div
									</div>
								</div>
							</div>
						</div>
						</div>
				</div>
				<div class="col-lg-4">
					<div class="row">		
						<div class="col-md-12">	

							<div class="panel-group" id="ongoingsChalls">
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">

							        <a data-toggle="collapse" data-parent="#ongoingsChalls" href="#collapse_ongoings">
							          Challenges in progress (<%= ongoings.length %>)
							        </a> </h4>
							    </div>
							    <div id="collapse_ongoings" class="panel-collapse collapse <%= ongoings && ongoings.length > 0 ? 'in' : '' %>">
							      <div class="panel-body">
										<div class="row">
												<div class="col-md-12 ">
												<% if ( ongoings.length > 0 ) {
													for (var i = ongoings.length - 1; i >= 0; i--) { %>
													<div class="panel panel-<%= ((ongoings[i].waitingConfirm === true) ? 'warning' : 'primary')%>  animated <%- i % 2 ? 'fadeInLeft' : 'fadeInRight' %>">
														<div class="panel-body">

															<h5>
																<a href='/o/<%= ongoings[i].idCool %>'>
																	<%= ongoings[i]._idChallenge.title %>
																</a>
															</h5>
															<div class="row">
																<p>
																	<%= ongoings[i]._idChallenge.description  %>
																</p>		

																<p>

																	<span class="glyphicon glyphicon-star-empty"></span>
																	<a href='/u/<%= ongoings[i]._idChallenger.idCool %>'>
																		<%= ongoings[i]._idChallenger.local.pseudo  %>
																	</a>
																	<span class="glyphicon glyphicon-flash"></span>
																	<a href='/u/<%= ongoings[i]._idChallenged.idCool %>'>
																		<%= ongoings[i]._idChallenged.local.pseudo  %>
																	</a>

																</p>							
															</div>
															<div class="row">
																<div class="col-sm-6">
																	<p>
																		<span class="glyphicon glyphicon-calendar"></span>
																		<span class="dateReadability" data-date="<%= ongoings[i].launchDate %>"></span>
																	</p>
																	<p>
																		<span class="glyphicon glyphicon-calendar"></span>
																		<span class="dateReadability" data-date="<%= ongoings[i].deadLine %>"></span>
																	</p>										
																</div>
																<div class="col-sm-6 text-right">
																	Value: <%= ongoings[i]._idChallenge.value %> <span class="glyphicon glyphicon-certificate"></span>
																</div>									
															</div>								
														</div>
														<div class="panel-footer">
															<% if(ongoings[i].waitingConfirm === true) { %>
															<%= ((ongoings[i]._idChallenged._id.toString() === currentUser._id.toString()) ? 'You' :  ongoings[i]._idChallenged.local.pseudo)%> asked for the validation of this challenge : <span class="dateReadability" data-date="<%= ongoings[i].confirmAsk %>"></span>

															<% } else { %>
															<strong class="convertEnd" data-tEnd="<%= ongoings[i].deadLine %>"></strong>
															<% } %>
														</div>
													</div>
													<% } %>
													<% } %>
												</div>
							      		</div>
							    	</div>
							    </div>
							  </div>
							</div>
							
							<div class="panel-group" id="lol_games">
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							      <% if (currentUser.leagueoflegend.confirmed === true)  { %>
							        <span class="pull-right gameSync">
											<i class="fa fa-refresh"></i> 
									</span>
									<% } %>
							        <a data-toggle="collapse" data-parent="#lol_games" href="#collapse_lol">
							          Last 10 League of legend games
							        </a> 
							      </h4>
							    </div>
							    <div id="collapse_lol" class="panel-collapse collapse in">
							      <div class="panel-body">
										<div class="row">
										
									<% if ( currentUser.leagueoflegend && currentUser.leagueoflegend.lastGames.length > 0 ) { %>
									<%  var games = currentUser.leagueoflegend.lastGames.reverse();
										var lolilength = games.length-1 > 10 ? 10 : games.length-1;
										for (var i = lolilength; i >= 0; i--) { %>
											<div class="col-lg-12 col-md-6 col-sm-6">	

												<div class="media">
													<div class="pull-left">
														<img class="media-object img-rounded img-responsive" src="./img/assets_lol/champions/<%= games[i].championInfos.key %>.jpg">											
													</div>
													<div class="media-body">
														<h6 class="pull-right text-center <%= games[i].stats.win ? 'won': 'lost' %>"><%= games[i].stats.win ? 'won': 'lost' %>

														<p><span class="minutesReadability" data-date="<%= games[i].stats.timePlayed %>"></span></p>
														</h6>
														<h4 class="media-heading"><%= games[i].subType %></h4>
														<p><%= games[i].createDate %></p>
													</div>
												</div>
											</div>
							
										<% } %>
										<% } else if (currentUser.leagueoflegend.confirmed === true) { %>	

											<div class="media-body text-center">
												<button type="button" class="btn btn-info gameSync"> <i class="fa fa-refresh"></i> Sync my last games now</button>
											</div>

										<% } else { %>	

											<div class="media-body text-center">
												<a href="./settings" class="btn btn-info"> <i class="fa fa-link"></i> Link your Account now!</a>
											</div>

										<% } %>
							      		</div>
							    	</div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
					<!-- <h4>My Badges</h4
					<div class="badggies">

					<section class="badgeList">
						BADGES ARE COMMING SOON
						<img src="TBD" class="img-responsive hover-me x2" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">
					</section> 
					</div>-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<% var notif = currentUser.notifications;
						for (var i = notif.length - 1; i >= 0; i--) {
							if(notif[i].persist === true) { 
								var isOdd =  (i % 2) ? '' : 'timeline-inverted'
								, type = (notif[i].type == 'challengeSuccess') ? 'success' : ((notif[i].type == 'challengeReceive') ? 'danger' : 'info');
								%>
								<li class="<%= isOdd %> ">
									<div class="timeline-badge <%= type %>"><span class="<%= notif[i].icon %>"></span></div>
									<div class="timeline-panel glow-shad ">
										<div class="timeline-heading">
											<h4 class="timeline-title"><%= notif[i].title %></h4>
											<p>
												<small class="text-muted">
													<i class="glyphicon glyphicon-time"></i>
													<span class="timeAgo" data-date="<%= notif[i].date %>"></span>
												</small>
											</p>
										</div>
										<div class="timeline-body">
											<p> <a href="<%= notif[i].link2 %>" ><%= notif[i].to %></a> <%= notif[i].message %></p>
										</div>
									</div>
								</li>
								<% } 
						} %>
					</ul>	
				</div>		
			</div>	
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="successModal" aria-labelledby="successModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-ok"></span>
						Good job, invites sent!
					</h3>
					</div>
				<div class="panel-body">
					<div class="media">
                        <div class="pull-left">
                        	<div class="lol-p-icon642"></div>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">You invited <span id="friendLength"></span>!</h4>
                          <p>Congratulation, you have successfully invited your friends, and you gained 75xp <strong>per invitation</strong>!</p>
                        </div>
                      </div>

				</div>
			</div>
		</div>
	</div>
	<% include statics/footers %>
	<script type="text/javascript" src="./js/chart.min.js"></script>
	<script type="text/javascript">
		$(function() {
			//$(".graphsTab input[type=checkbox]").bootstrapSwitch();

		    $(".bt-fs-dialog").fSelector({
		    	// excludeIds: [<%= currentUser.fbInvitedFriends.length >0 ? currentUser.fbInvitedFriends : '' %>],
			      closeOnSubmit: true,
			      max: 50,
			      lang: {
			        title: "Invite more friends!",
			        buttonSubmit: "Invite",
			        buttonCancel: "Cancel",
			        buttonSelectAll: "Select All",
			        buttonDeselectAll: "Deselect All",
			        buttonShowSelected: "Show Selected",
			        buttonShowAll: "Show All",
			        summaryBoxResult: "{1} best results for {0}",
			        summaryBoxNoResult: "No results for {0}",
			        searchText: "Enter a friend's name",
			        fbConnectError: "You must connect to Facebook to see this. Please go to your Settings and enable Facebook connection.",
			        selectedCountResult: "You have choosen {0} potential new challengers, awesome!",
			        selectedLimitResult: "Limit is {0} people.",
			        facebookInviteMessage: "I am using Challenge your Friends and it's awesome! This website allows me to send and receive challenges on almost ANY games! It gives me new way to play and I like it. Please join me and let's throw challenges to each others, it's FUN!"
			      },
			      facebookInvite: true,
			      onSubmit: function(response) {
						var target = {					
							list: response
						}
						$.ajax({
							type: 'POST',
							data: JSON.stringify(target),
							contentType: 'application/json',
							url: './invitedFriends',						
							success: function(data) {
								console.log(data)
								$('#friendLength').text(data);
							}
						});	
				},
				onClose: function(response) {
					$('#successModal').modal('show');
				}
		    });

			function offsetArray (arr,lie,val) {
				var cL = arr.length-1;
				var val = val?val:0;
				var lie = lie?lie:cL;
				if(arr.length <= 1){
					console.log(arr)

					return arr.length === 1 ? [val,arr[0]]: (arr.length === 0 ? [val,val]: arr);
				}
				else {
					for (var i = cL; i < lie; i++) {
						arr.push(val)
					};
					return arr;
				}
			}
			// return an array composed of a list of the days' number from 1 month ago until today, not included.
			function getAllDays() {
				var e = moment();
				var s = moment().subtract('months', 1); // PREMIUM
				// var s = moment().subtract('days', 5);
				var a = [];

				while(s.isBefore(e)) {
					a.push(s.format("MMM - DD"));
					s = s.add('days', 1);
				}
				return a;
			}
			$('.gameSync').on('click', function(e){
				e.preventDefault();
				_this = $(this)
				_this.addClass('spinning');
				$.ajax({
					type: 'POST',
					contentType: 'application/json',
					url: './syncLoLGames',						
					success: function(data) {
						_this.removeClass('spinning').fadeOut('slow', function() {
						if(data === false)
							_this.html('<i class="fa fa-check-square-o"></i> Up to date').fadeIn('slow');
						else
							_this.html('<i class="fa fa-info"></i> Updated').fadeIn('slow');

						});
					}
				});	

			})
			$('.badggies img').hover(function(e){
				$(this).tooltip('show')
			},function(){
				$(this).tooltip('hide')

			})
			
			var meNot = false;
			$('.linked').hover(function(){
				var _this = $(this);
				_this.children('.meany').addClass('hidden');
				_this.children('a').removeClass('hidden');

			}, function(){
				var _this = $(this);
				_this.children('a').addClass('hidden');
				_this.children('.meany').removeClass('hidden');
			});
			//pop it
			timer();
			setInterval(function(){
				timer();
			},60000);
			//================================================
			// User Xp Historic graph
			//================================================
			//Setup vars
			var dota2 = []
			, warcraft4 = []
			, dailyR = []
			, weeklyR = []
			, monthlyR = []
			, rankLabels = []
			, rankLabelsW = []
			, rankLabelsM = [];
			var dataLabels = [];//getAllDays();

			//Load our data
			var historic = JSON.parse('<%-JSON.stringify(currentUser.xpHistoric)%>');
			var rHistDaily = JSON.parse('<%-JSON.stringify(currentUser.dailyArchives)%>');
			var rHistWeekly = JSON.parse('<%-JSON.stringify(currentUser.weeklyArchives)%>');
			var rHistMonthly = JSON.parse('<%-JSON.stringify(currentUser.monthlyArchives)%>');

			// Add the current rank!
			<% if(currentUser.dailyRank > 0) {%>
				rHistDaily.push({'rank': <%=currentUser.dailyRank %>,'date': moment()});
			<%} if(currentUser.weeklyRank > 0) {%>
				rHistWeekly.push({'rank': <%=currentUser.weeklyRank %>,'date': moment()});
			<%} if(currentUser.monthlyRank > 0) {%>
				rHistMonthly.push({'rank': <%=currentUser.monthlyRank %>,'date': moment()});
			<%} %>

			historic = historic.reverse();
			rHistDaily = rHistDaily.reverse();
			rHistWeekly = rHistWeekly.reverse();
			rHistMonthly = rHistMonthly.reverse();
			for (var key = 30; key >= 0; key--) {

				if(historic[key]){
					dota2.push(historic[key].xp);
					warcraft4.push(historic[key].level);
					dataLabels.push(moment(historic[key].date).format("MMM Do a"))
				}

				if(rHistDaily[key]){
					console.log(rHistDaily[key])
					rankLabels.push(moment(rHistDaily[key].date).format("MMM Do"))
					dailyR.push(rHistDaily[key].rank);
				}

				if(rHistWeekly[key]) {
					rankLabelsW.push(moment(rHistWeekly[key].date).format("MMM Do"))
					dailyR.push(console[key].rank);
				}

				if(rHistMonthly[key]) {
					rankLabelsM.push(moment(rHistMonthly[key].date).format("MMM Do"))
					dailyR.push(rHistMonthly[key].rank);
				}

			}
			// We need at LEAST 2 values (it's a graph, yep)
			dota2 = offsetArray(dota2);
			warcraft4 = offsetArray(warcraft4);

			whatCanIDoToday = _.max(dailyR)
			// Put all our ranking graph to the same length
			dailyR = offsetArray(dailyR,dailyR.length-1,whatCanIDoToday);
			if(weeklyR.length > 0)
				weeklyR = offsetArray(weeklyR,dailyR.length-1,whatCanIDoToday);
			if(monthlyR.length > 0)
				monthlyR = offsetArray(monthlyR,dailyR.length-1,whatCanIDoToday);

			// Now take the labels to the same length (slice or take the last X ones)
			var rankLab=dailyR.length<dataLabels.length?dataLabels.slice(dataLabels.length-dailyR.length,dataLabels.length):dataLabels;

			// =========================
			//BUILD CHARTS
			// =========================
			var xpLab = dota2.length < dataLabels.length ? dataLabels.slice(dataLabels.length - dota2.length,dataLabels.length) : dataLabels;

			var dataXp = {
				labels : xpLab,
				datasets : [
					{
						fillColor : "rgba(16,100,83,0.2)",
						strokeColor : "rgba(16,100,83,0.6)",
						pointColor : "rgba(16,100,83,0.8)",
						pointStrokeColor : "#fff",
						data : dota2
					}
				]
			}
			//Level Graph
			var lvlLab = warcraft4.length < dataLabels.length ? dataLabels.slice(dataLabels.length - warcraft4.length,dataLabels.length) : dataLabels;
			var optLvl = {
					scaleOverride : true,
					scaleSteps : <%= currentUser.level+1 %>,
					scaleStepWidth : 1,
					scaleStartValue : 0
			}
			var dataLevel = {
				labels : lvlLab,
				datasets : [
					{
						fillColor : "rgba(159,238,0,0.3)",
						strokeColor : "rgba(159,238,0,0.6)",
						pointColor : "rgba(159,238,0,0.8)",
						pointStrokeColor : "#fff",
						data : warcraft4
					}
				]
			}
			//Ranks Graph
			var optRk = {
				bezierCurve : false,
				scaleOverride : true,
				scaleSteps : dailyR[dailyR.length-1]+1,
				scaleStepWidth : 1,
				scaleStartValue : 0
			}

			var dataRanks = {
				labels : rankLabels,
				datasets : [
					{
						fillColor : "rgba(237,85,101,0.3)",
						strokeColor : "rgba(237,85,101,0.6)",
						pointColor : "rgba(237,85,101,0.8)",
						pointStrokeColor : "#fff",
						data : dailyR
					},
					{
						fillColor : "rgba(255,206,84,0.3)",
						strokeColor : "rgba(255,206,84,0.6)",
						pointColor : "rgba(255,206,84,0.8)",
						pointStrokeColor : "#fff",
						data : weeklyR
					},
					{
						fillColor : "rgba(79,193,233,0.3)",
						strokeColor : "rgba(79,193,233,0.6)",
						pointColor : "rgba(79,193,233,0.8)",
						pointStrokeColor : "#fff",
						data : monthlyR
					}
				]
			}
			// Build Canvas
			var desiredRatio = $("#historygraph").parent().width(); // Used for all graphs
			var canvasXp = $("#historygraph")[0];

			var ctxXp = canvasXp.getContext("2d");

			canvasXp.setAttribute('width', desiredRatio);
			canvasXp.setAttribute('height', desiredRatio/2.5);

			var canvasLevel = $("#levelgraph")[0];
			var ctxLevel = canvasLevel.getContext("2d");
			canvasLevel.setAttribute('width', desiredRatio);
			canvasLevel.setAttribute('height', desiredRatio/2.5);

			var canvasRanks = $("#ranksgraph")[0];
			var ctxRanks = canvasRanks.getContext("2d");
			canvasRanks.setAttribute('width', desiredRatio);
			canvasRanks.setAttribute('height', desiredRatio/2.5);
			//Build charts
			new Chart(ctxXp).Line(dataXp);
			new Chart(ctxLevel).Line(dataLevel,optLvl);
			new Chart(ctxRanks).Line(dataRanks,optRk);

		});
		var timer = function (){				
			var d = new Date();
			var x = d.setHours(12,30,0,0);
			var x2 = d.setHours(0,1,0,0);
			d.setHours(0,0,1,0);
			var converted = moment(d).countdown(new Date(),countdown.HOURS|countdown.MINUTES, NaN, 0).toString();
			var convertedx = moment(x).countdown(new Date(),countdown.HOURS|countdown.MINUTES, NaN, 0).toString();
			var convertedx2 = moment(x2).countdown(new Date(),countdown.HOURS|countdown.MINUTES, NaN, 0).toString();
			$('.timer').html('xp Next update <strong>'+convertedx+'</strong> then <strong>'+convertedx2+'</strong>.<br> Ranks next update: <strong>'+converted+'</strong>');
		}
	</script>
</body>
</html>