<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title>Rate a challenge</title>

</head>
<body>

	<% include statics/navTop %>
	<!-- Validation -->
	<div class="modal fade" id="rateMe" tabindex="-1" role="dialog" aria-labelledby="rateMeModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">
						Rating <a href='' class="cLink"><span class="cId"></span></a> - <strong class="cTitle"></strong>
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h3>Your rating</h3>
						</div>

						<div class="col-lg-12">
							<!-- Difficulty Slide -->
							<div class="col-lg-2">
								<h4>Difficulty</h4>
							</div>
							<div class="col-lg-8">
								<div style="margin-top: 18px;">	
									<div id="slideA" class=""></div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="text-center">									
									<div class="chart" id="rateAVal" data-percent="25">
										<span id="rateAper"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- !end Difficulty Slide -->

						<!-- Quickness Slide -->
						<div class="col-lg-12">
							<div class="col-lg-2">
								<h4>Quickness</h4>
							</div>
							<div class="col-lg-8">
								<div style="margin-top: 18px;">	
									<div id="slideB" class=""></div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="text-center">									
									<div class="chart" id="rateBVal" data-percent="25">
										<span id="rateBper"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- !end Quickness Slide -->

						<!-- fun Slide -->
						<div class="col-lg-12">
							<div class="col-lg-2">
								<h4>Fun</h4>
							</div>
							<div class="col-lg-8">
								<div style="margin-top: 18px;">	
									<div id="slideC" class=""></div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="text-center">									
									<div class="chart" id="rateCVal" data-percent="25">
										<span id="rateCper"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- !end fun Slide -->
						<div class="col-lg-offset-3 col-lg-6">
							<div class="nut-list">
								<div class="nut">
									<div>	
										<div class="text-center">	
											<small id="staring">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>													
											</small>
											<h3 id="genVal">25</h3>
										</div>								

									</div>
								</div>
							</div>
								<!-- <a class="badgeRateVal" href="#">
									<p id="staring">***</p>
									<p id="genVal">25</p>
								</a> -->
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-block btn-success btn-punch" data-oId="" id="completed">
							<span class="glyphicon glyphicon-ok"></span>
							Done ! 
						</button>
					</div>
				</div>
			</div>
		</div><!-- /Validation -->

		<div class="canvas">
		
			<div class="container">
				<div class="row">
					<div class="col-md-12"> 

					<h4><%= currentUser.local.pseudo %>, we need your opinion on these challenges!</h4>

					<p>Here you can give your opinion about the challenges you've been involved with. You will be rewarded and gain xp as you rate them. Please provide a personnal impression while rating them.</p>

						<div class="panel panel-default table-responsive">
							<table class="table  table-striped table-bordered text-center">
								<thead>
									<tr>
										<th class="text-center">#</th>
										<th class="text-center">Title</th>
										<th class="text-center hidden-xs">Game</th>
										<th class="text-center hidden-xs">description</th>
										<th class="text-center">Time frame</th>
										<th class="text-center">Vote</th>
									</tr>
								</thead>
								<tbody>
									<% if(challenge.challengeRate.length > 0 ) {
									for (var i = challenge.challengeRate.length - 1; i >= 0; i--) {
										var userChallenge =  challenge.challengeRate[i];
										%>
										<tr id="tt_<%= userChallenge.idCool %>">
											<td>
												<h4>
													<a href='/o/<%= userChallenge.idCool %>'>
														<%= userChallenge.idCool %>
													</a>
												</h4>
											</td>
											<td>
												<h5><%= userChallenge.title %></h5>
											</td>
											<td class="hidden-xs">				
												<h6><%= userChallenge.game %></h6>
											</td>
											<td class="hidden-xs">			
												<h6><%= userChallenge.description %></h6>	
											</td>
											<td>
												<strong><%= userChallenge.durationD %></strong> <span class="small">day(s)</span>
												<strong><%= userChallenge.durationH %></strong> <span class="small">hours(s)</span>
											</td>
											<td>
												<button type="button" id="<%= userChallenge.idCool %>" class="btn btn-info btn-punch btn-block rateNaow" data-title="<%= userChallenge.title %>"> Rate !</button>
											</td>
										</tr>
										<% }
										} else { %>

									<tr>
										<td>Nothing yet! Come back later</td>
									</tr>
									<% } %>
									</tbody>
								</table>						
							</div>
						</div>

					</div>

				</div>
				<% include statics/footers %>
				<script src="./js/easypiechart.js"></script>

				<script type="text/javascript">

					var populateRate = function( id, cb ) {
						var cId,cTitle,cLink,
						_this = $('#'+id);

						title = _this.attr('data-title');
						$('.cId').text(id);
						$('.cTitle').text(title);
						$('.cLink').attr("href", '/c/'+id);
						$('#completed').attr('data-oId', id);

						cb();
					};

					var getRate = function(){
						var rateA,rateB, rateC, genVal;

						rateA = parseInt($('#slideA').val());
						rateB = parseInt($('#slideB').val());
						rateC = parseInt($('#slideC').val());

						genVal = Math.round((rateA + rateB + rateC)/ 3);
						$('#genVal').text(genVal);

						if(genVal < 10)
							$('#staring').html('').append('<i class="fa fa-star"></i>');
						else if (genVal >= 10 && genVal < 20)
							$('#staring').html('').append('<i class="fa fa-star"></i><i class="fa fa-star"></i>');
						else if (genVal >= 20 && genVal < 30)
							$('#staring').html('').append('<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>');
						else if (genVal >= 30 && genVal < 40)
							$('#staring').html('').append('<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>');
						else if (genVal >= 40)
							$('#staring').html('').append('<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>');
						else
							$('#staring').text('-');

					}
					$(function() {

						$('#rateMe').on('hidden.bs.modal', function (e) {
							e.preventDefault();

							$('#slideA, #slideB, #slideC').val(25);
							$('#tt_'+tarId).addClass('invisible').remove();
						});

						$('#completed').click(function (e) {
							e.preventDefault();

							var target = {}
							_this      = $(this),
							tarId      = $(this).attr('data-oId');

							target.id         = tarId;
							target.difficulty = parseInt($('#slideA').val());
							target.quickness  = parseInt($('#slideB').val());
							target.fun        = parseInt($('#slideC').val());

							$.ajax({
								type: 'POST',
								data: JSON.stringify(target),
								contentType: 'application/json',
								url: './rateChallenges',						
								success: function(data) {

									if(data === true) {

										$('#rateMe').modal('hide');
									}
								}
							})

						});
						$('.rateNaow').click(function (e) {
							e.preventDefault();

							idBox = $(this).attr('id');
							populateRate(idBox, function() {

								$('#rateMe').modal('show');
							});
						});

						$('#slideA').noUiSlider({
							range: [0, 50],
							start: 25,
							step: 1,
							handles: 1,
							serialization: {
								to: [ $("#rateAper"), 'text' ],
								resolution: 1
							},
							slide: function(){
								$('#rateAVal').data('easyPieChart').update($(this).val()*2);
								getRate();
							}
						});
						$('#slideB').noUiSlider({
							range: [0, 50],
							start: 25,
							step: 1,
							handles: 1,
							serialization: {
								to: [ $("#rateBper"), 'text' ],
								resolution: 1
							},
							slide: function(){
								$('#rateBVal').data('easyPieChart').update($(this).val()*2);
								getRate();
							}
						});
						$('#slideC').noUiSlider({
							range: [0, 50],
							start: 25,
							step: 1,
							handles: 1,
							serialization: {
								to: [ $("#rateCper"), 'text' ],
								resolution: 1
							},
							slide: function(){
								$('#rateCVal').data('easyPieChart').update($(this).val()*2);
								getRate();
							}
						});

						$('.chart').easyPieChart({
							animate: 1337,
							size: 50
						});

					});
</script>
</body>
</html>