<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title>Requests sent and received - Challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>Friends Requests</h3>
				</div>
				<div class="col-md-6">
					<h3>Challenges Requests</h3>
				</div>
				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Received</h3>
						</div>
						<div class="panel-body">
							<% if ( currentUser.pendingRequests.length > 0 ) { %>
							<% for(var i=0; i< currentUser.pendingRequests.length; i++) { %>
							<p class="col-md-12">
								<a href='/u/<%= currentUser.pendingRequests[i].idCool %>'>
									<%= currentUser.pendingRequests[i].userName %>
								</a> <small class="dateTiny" data-date="<%= currentUser.pendingRequests[i].date %>"></small>
								<span class="btn-group pull-right">
									<a href="#" class="btn btn-punch btn-success btn-xs answerCall" data-action="confirmFriend" data-idFrom="<%= currentUser.pendingRequests[i].idUser %>" data-idCool="<%= currentUser.pendingRequests[i].idCool %>" data-nameFrom="<%= currentUser.pendingRequests[i].userName %>">confirm</a>
									<a href="#" class="btn btn-punch btn-default btn-xs answerCall" data-action="deny" data-idFrom="<%= currentUser.pendingRequests[i].idUser %>" data-idCool="<%= currentUser.pendingRequests[i].idCool %>" data-nameFrom="<%= currentUser.pendingRequests[i].userName %>">delete</a>
								</span>
							</p>
							<% } %>
							<% } %>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Sent</h3>
						</div>
						<div class="panel-body">
							<% if ( currentUser.sentRequests.length > 0 ) { %>
							<% for(var i=0; i< currentUser.sentRequests.length; i++) { %>
							<p class="col-md-12" >
								<a href='/u/<%= currentUser.sentRequests[i].idCool %>' rel="tooltip" title=" Sent on <%= currentUser.sentRequests[i].date %>">
									<%= currentUser.sentRequests[i].userName %>
								</a>
								<span class="btn-group pull-right">
									<a href="#" class="btn btn-punch btn-warning btn-xs answerCall" data-action="cancelFriend" data-idFrom="<%= currentUser.sentRequests[i].idUser %>" data-idCool="<%= currentUser.sentRequests[i].idCool %>" data-nameFrom="<%= currentUser.sentRequests[i].userName %>">cancel</a>
								</span>
							</p>
							<% } %>
							<% } %>
						</div>
					</div>
				</div>


				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Received</h3>
						</div>
						<div class="panel-body">
							<% if ( challenges.request.length > 0 ) { %>
								<% for(var i=0; i< challenges.request.length; i++) {
									var thisReq = challenges.request[i];
								 %>
								<% if ( thisReq.accepted === false ) { %>
									<p class="col-md-12 popmeout" data-title="<%= thisReq._idChallenge.title %>" data-description="<%- encodeURIComponent(thisReq._idChallenge.description)%>" data-start="<%= thisReq.launchDate %>" data-end="<%= thisReq.deadLine %>" data-placement="bottom" data-trigger="hover" >
										<span class="<%= thisReq._idChallenge.icon %>"></span>
										<strong> <%= thisReq._idChallenge.title %></strong>
										<a href='/u/<%= thisReq._idChallenger.idCool %>'>
											<%= thisReq._idChallenger.local.pseudo %>
										</a>
										<span class="btn-group pull-right">
											<a href="#" class="btn btn-punch btn-success btn-xs answerCall" data-action="confirmChallenge" data-idCool="<%= thisReq._idChallenge.idCool %>" data-from="<%= thisReq._idChallenger.local.pseudo %>" data-fromCool="<%= thisReq._idChallenger.idCool %>" data-id="<%= thisReq._id %>">Accept</a>
											<a href="#" class="btn btn-punch btn-default btn-xs answerCall" data-idCool="<%= thisReq._idChallenge.idCool %>" data-action="rejectChallenge" data-from="<%= thisReq._idChallenger.local.pseudo %>" data-fromCool="<%= thisReq._idChallenger.idCool %>" data-id="<%= thisReq._id %>">Reject</a>
										</span>
									</p>
								<% } %>
								<% } %>
							<% } %>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Sent</h3>
						</div>
						<div class="panel-body">
							<% if ( challenges.sent.length > 0 ) { %>

							<% for(var i=0; i< challenges.sent.length; i++) { %>
							<% if ( challenges.sent[i].accepted === false ) { %>
						
							<p class="col-md-12">
								<a href='/u/<%= challenges.sent[i]._idChallenged.idCool %>'><%= challenges.sent[i]._idChallenged.local.pseudo %></a>, <a href="/c/<%= challenges.sent[i]._idChallenge.idCool %>" rel="tooltip" title="<%- challenges.sent[i]._idChallenge.description %>"><%- challenges.sent[i]._idChallenge.title %></a>
							</p>
							<% } %>
							<% } %>

							<% } %>
						</div>
					</div>
				</div>

			</div>

		</div>

		<% include statics/footers %>
		<script type="text/javascript">

			var readability = function(){
				$('.dateReadability').each( function () {
					var date = $(this).attr('data-date');
					var converted = moment(date).format('dddd DD MMMM HH[h]mm');
					$(this).text(converted);
				})
			}

			$(function() {

				readability();

				$(".answerCall").click( function(e){
					e.preventDefault();
					console.log('answering')
					// Create a new instance of ladda for the specified button
					var _this = $(this);
					//var l = Ladda.create( _this );
					var going;

					var target = {};
					if(_this.attr('data-action') === 'confirmFriend'){

						going = 'confirmFriend';
						target.id = _this.attr('data-idfrom');
						target.pseudo = _this.attr('data-nameFrom');
					}
					else if(_this.attr('data-action') === 'confirmChallenge'){

						going = 'acceptChallenge';
						target.id = _this.attr('data-id');
					}
					else if(_this.attr('data-action') === 'rejectChallenge'){

						going = 'denyChallenge';
						target.id = _this.attr('data-id');
					}
					else if(_this.attr('data-action') === 'cancelFriend'){

						going = 'cancelFriend';
						target.id = _this.attr('data-idfrom');
						target.pseudo = _this.attr('data-nameFrom');
					}
					else
						going = 'denyFriend';

					$.ajax({ url: './' + going
					   , type: 'POST'
					   , data: JSON.stringify(target)
					   , contentType: 'application/json'
					})
					.done(function(data) {
						console.log(data,_this,(data[0] === true))
						if(data[0] === true) {
							//Animate
							_this.addClass('btn-success');
							_this
							.closest('p')
							.addClass('list-group-item-success animated flipOutX');

							setTimeout(function(){ _this.closest('p').remove(); }, 800);
						} else {
							//Animate error
							_this
							.closest('p')
							.addClass('list-group-item-danger');
						}
					});
				});	
			});
	</script>
</body>
</html>