<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title>Your settings - Challenge your Friends</title>
</head>
<body>
	<% include statics/navTop %>

	<div class="canvas">
		
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="panel settingsTab">
						<div class="tabbable tabs-left clearfix">
							<ul id="myTab1" class="nav nav-tabs nav-justified">
								<li class="active"><a href="#sharingSocial" data-toggle="tab">Sharing</a></li>
								<li><a href="#connectNetworks" data-toggle="tab">Connect accounts</a></li>
								<li><a href="#linkGames" data-toggle="tab">Games accounts</a></li>

							</ul>
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in " id="sharingSocial">
									<div class="row">
										<div class="col-md-6">
											<p>
												Share on facebook automatically												
											</p>
										</div>
										<div class="col-md-2">
											<p>
												<input type="checkbox" class="pull-right" id="facebook" name="autosharefacebook" <%= (currentUser.share.facebook) ? 'checked' : '' %> data-on-color="info" data-off-color="default" data-size="small" data-label-text="<span class='fa fa-facebook'></span>" >										
											</p>
										</div>

										<div class="col-md-6">
											<p>
												Share on twitter automatically										
											</p>
										</div>
										<div class="col-md-2">
											<p>
												<input type="checkbox" class="pull-right" id="twitter" name="autosharetwitter" <%= (currentUser.share.twitter) ? 'checked' : '' %> data-on-color="info" data-off-color="default" data-size="small" data-label-text="<span class='fa fa-twitter'></span>">										
											</p>
										</div>
										<div class="col-md-12">
											<p>
												<small><strong>Note:</strong> we will only tweet when you validate a challenge.</small>					
												<small><strong>Exemple:</strong> "I just completed a challenge (//Link//) on League of Legend! Join me now @cyf_app #challenge."</small>												
											</p>

											
										</div>
									</div>
								</div>

								<div class="tab-pane fade in" id="connectNetworks">
									<div class="row">
										<div class="col-md-6 col-xs-6 col-lg-5">
											<h4><i class="fa fa-facebook"></i> Facebook</h4>
											<% if (currentUser.facebook.token) { %>
											<span class="linked label label-default">
												<i class="fa fa-check-square meany"></i> Connected as <%= currentUser.facebook.name %>
												<a href="/unlink/facebook" class="hidden"> [ <span class="fa fa-ban"></span> unlink]</a>
											</span>
											<% } else { %>
											<a href="/connect/facebook" class="label label-primary">
												<i class="fa fa-facebook"></i>
												Connect facebook
											</a>
											<% } %>
										</div>
										<div class="col-md-6 col-xs-6 col-lg-5">
											<h4><i class="fa fa-google-plus"></i> Google+</h4>
											<% if (currentUser.google.token) { %>
											<span class="linked label label-default">
												<i class="fa fa-check-square meany"></i> Connected as <%= currentUser.google.name %>
												<a href="/unlink/google" class="hidden"> [ <span class="fa fa-ban"></span> unlink]</a>
											</span>
											<% } else { %>
											<a href="/connect/google" class="label label-danger">
												<i class="fa fa-google-plus"></i>
												Connect google+
											</a>
											<% } %>
										</div>

										<div class="col-md-6 col-xs-6 col-lg-5">
											<h4><i class="fa fa-twitter"></i> Twitter</h4>
											<% if (currentUser.twitter.token) { %>
											<span class="linked label label-default">
												<i class="fa fa-twitter"></i> <i class="fa fa-check-square meany"></i> Connected as <%= currentUser.twitter.username %>
												<a href="/unlink/twitter" class="hidden"> [ <span class="fa fa-ban"></span> unlink]</a>
											</span>
											<% } else { %>
											<a href="/connect/twitter" class="label label-info">
												<i class="fa fa-twitter"></i>
												Connect Twitter
											</a>
											<% } %>
										</div>
									</div>
								</div>
								<div class="tab-pane fade in" id="linkGames">
									<div class="row">
										<div class="col-md-12 col-xs-12">
											<h3><i class="fa fa-link"></i> League of Legend</h3>
											<% if (currentUser.leagueoflegend.idProfile && currentUser.leagueoflegend.confirmed === true) { %>
											<span class="linked label label-success">
												<i class="fa fa-check-square meany"></i> Connected as <%= currentUser.leagueoflegend.name %>
												<a href="/unlink/game_lol" class="hidden"> [ <span class="fa fa-ban"></span> unlink]</a>
											</span>
											<h4><%= currentUser.leagueoflegend.name %> - Summoner level <%= currentUser.leagueoflegend.summonerLevel %></h4>
											<% } else if (!currentUser.leagueoflegend.idProfile || currentUser.leagueoflegend.profileIconId_confirm === 0) { %>
											<div class="row" id="linkingLoL">
												<div id="step-1">													
													<div class="col-xs-4">
														<select name="region" id="lol_region" class="form-control">
															<option value="na">na</option>
															<option value="br">br</option>
															<option value="euw">euw</option>
															<option value="eune">eune</option>
															<option value="lan">lan</option>
															<option value="las">las</option>
															<option value="oce">oce</option>											
														</select>
													</div>
													<div class="col-xs-4">
														<input type="text" class="form-control" id="lol_name" placeholder="Summoner name">
													</div>
													<div class="col-xs-4">
														<button type="button" id="lol_link" class="btn btn-default">Link!</button>
													</div>
												</div>
												<div id="step-2" class="hidden col-md-12">
												<h4>Confirm your account</h4>
													<p>
														To confirm your account, please select one of the following summoner icon. Then, login in League of Legend and change your summoner's icon to this one and come back and hit "Check my profile icon" to confirm your account.
													</p>
													<ul class="list-unstyled list-inline">
													</ul>
													<p><small><strong>Note:</strong> once your account confirmed, you can use whichever icon you want! We will only do this once.</small></p>
												</div>

												<div id="step-3" class="hidden col-md-12">
													<h4>Confirm your account</h4>
													<p>You picked the following icon: </p>
													<div id="pickedIcon"></div>
													<p>Please, change your profile icon in League of legend to this one and click in the following button:
													<button id="confirmLoL" class="btn btn-info">Check my profile icon</button>
													</p>

												</div>
											</div>
											<% } else { %>
											<div class="row" id="linkingLoL">

												<div id="step-3" class="col-md-12">
													<h4>Confirm your account</h4>
													<p>You picked the following icon: </p>
													<div id="pickedIcon">
													<img class="img-responsive" src="./img/assets_lol/icons/ProfileIcon<%= currentUser.leagueoflegend.profileIconId_confirm %>.jpg" alt="I will select this icon on leagueoflegend and then come back to validate my account.">
													</div>
													<p>Please, change your profile icon in League of legend to this one and click in the following button:
													<button id="confirmLoL" class="btn btn-info">Check my profile icon</button>
													</p>
												</div>
											</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include statics/footers %>
	<script type="text/javascript">

		$(function() {

			$(".settingsTab input[type=checkbox]").bootstrapSwitch();

			$('.settingsTab input').on('switchChange', function (e, data) {
				var $element = $(data.el),
				value = data.value;

				console.log($(this).attr('id'), value);
				var target = {};
				target.target = $(this).attr('id');
				target.value = value; 

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './updateSettings',						
					success: function(data) {
						console.log('done !');
					}
				});
			});

			$('#lol_link').click(function(e) {
				e.preventDefault();

				var target          = {};
				target.region       = $('#lol_region').val();
				target.summonerName = $('#lol_name').val(); 

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './linkLol',						
					success: function(data) {

						if(data === true) {
							lolStep2();

						} else {
							var newContent = '<div class="alert alert-danger"><i class="fa facheck"></i><strong>Oups!</strong> '+data[1]+'</div>'
							$('#linkingLoL')
							.addClass('animated flipOutX')
							.html(newContent)
							.addClass('flipInX')
							.removeClass('flipOutX');
						}
					}
				});
			});
			$('body').on('click', '.pickme>img', function () {
				console.log('fired')
				var id = $(this).attr('id')
				var target          = {};
				target.iconPicked   = id;

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './linklol_pickicon',						
					success: function(data) {
						if(data === true) {
							$('#pickedIcon').append('<img class="img-responsive" src="./img/assets_lol/icons/ProfileIcon'+id+'.jpg" alt="I will select this icon on leagueoflegend and then come back to validate my account." >')
							lolStep3();

						} else {
							var newContent = '<div class="alert alert-danger"><i class="fa facheck"></i><strong>Oups!</strong> '+data[1]+'</div>'
							$('#linkingLoL')
							.addClass('animated flipOutX')
							.html(newContent)
							.addClass('flipInX')
							.removeClass('flipOutX');
						}
					}
				});
			});
			/// ==================================
			var meNot = false;
			$('.linked').hover(function(){
				var _this = $(this);
				_this.children('a').removeClass('hidden');

			}, function(){
				var _this = $(this);
				_this.children('a').addClass('hidden');
			});
			function randNum (icons) {
				var a = _.random(1, 29);
				b = '0'+a;
				a = a < 10 ? b:a;
				return $.inArray(a,icons) === -1 ? a: randNum (icons);
			}
			function lolStep3() {
				$s2 = $('#step-2')
				$s3 = $('#step-3')
				$s2.addClass('animated fadeOut');
				$s2.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
					$s2.hide();
					$s3.removeClass('hidden');
				});
			}
			function lolStep2() {
				//pick 5 random lol icons
				var icons = [];
				for (var i =5 - 1; i >= 0; i--) {
					icons.push(randNum());
				};

				$('#step-1').addClass('animated fadeOut');
				$s2 = $('#step-2')
				$ul = $s2.find('ul').first();
				_.each(icons, function(numb){
					$ul.append('<li class="pickme"><img  id="'+numb+'" class="img-responsive" src="./img/assets_lol/icons/ProfileIcon'+numb+'.jpg" alt="I will select this icon on leagueoflegend and then come back to validate my account." ></li>');
				})
				$('#step-1').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
					$('#step-1').hide();
					$s2.removeClass('hidden');
				});
				
			}
		});


</script>
</body>
</html>