<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.herokuapp.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="profile, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta name="description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s).<%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %> ">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="profile:<%= user.local.idCool %>"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.herokuapp.com/u/<%= user.idCool %>">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="<%= user.icon %>.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta property="og:description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s) <%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>  ">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="<%= user.icon %>.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta name="twitter:description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s) <%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>  ">
    <!-- Twitter card end -->
	<title><%= user.local.pseudo %> profile- Challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		<div class="container">
			<div class="row">
				<div id="user_header" class="col-lg-8">
						<div class="row">
							<div class="col-lg-2 col-xs-2 animated fadeInUp" href="#">
									<img src="<%= user.icon %>" class="img-responsive img-rounded">
							</div>
							<h2 class="col-lg-10 animated bounceInUp">
								<%= user.local.pseudo %> 

								<span id="scorebox">
									<span class="level text-center">
										<span class="odometer" data-number="<%= user.level %>">
											0
										</span>
									</span>
								</span>
								<small> <a href="/u/<%= user.idCool %>"> <i class="fa fa-chain"></i> <%= user.idCool %> </a></small>
								<% if (currentUser) { %>

								<%
								// Check if already friends
								var lookupFriends = {};
								for (var i = 0, len = currentUser.friends.length; i < len; i++) {
									lookupFriends[currentUser.friends[i].idUser] = currentUser.friends[i];
								}

								// Check if already sent an Invite
								var lookupSent = {};
								for (var i = 0, len = currentUser.sentRequests.length; i < len; i++) {
									lookupSent[currentUser.sentRequests[i].idUser] = currentUser.sentRequests[i];
								}

								// Check if already received an Invite from this user
								var lookupPendings = {};
								for (var i = 0, len = currentUser.pendingRequests.length; i < len; i++) {
									lookupPendings[currentUser.pendingRequests[i].idUser] = currentUser.pendingRequests[i];
								}

								%>
								<% if (currentUser._id.toString() === user._id.toString()) { %>
								<p>
									<button class="ladda-button btn btn-punch btn-default disabled" >
										<span class="ladda-label">
											<span class="glyphicon glyphicon-info-sign"></span> It's you!
										</span>
									</button>
								</p>
								<% } else if(lookupPendings[user._id] || lookupSent[user._id]) { %>

								<p>
									<button class="ladda-button btn btn-punch btn-warning disabled"  id="newFriend" data-color="blue" data-style="slide-left">
										<span class="ladda-label">
											<span class="glyphicon glyphicon-time"></span> Pending, see your requests
										</span>
									</button>
								</p> 
								<% } else if(!lookupFriends[user._id] && !lookupPendings[user._id] && !lookupSent[user._id] ) { %>

								<p>
									<button class="ladda-button btn btn-punch btn-info"  id="newFriend" data-color="blue" data-style="slide-left">
										<span class="ladda-label">
											<span class="glyphicon glyphicon-plus"></span> Add Friend
										</span>
									</button>
								</p>
								<% } else { %>
								<div class="btn btn-punch btn-success" >
									<span class="ladda-label">
										<span class="glyphicon glyphicon-ok"></span> Friend
									</span>
								</div>
								<% } %>
								<% } %>

							</h2>
							<div class="col-lg-12">	
								<strong>Linked accounts: </strong>
								<% if (user.local.pseudo) { %>
								<span class="label label-default">CyF</span>
								<% } %>
								<% if (user.facebook.name) { %>
								<span class="label label-primary">Facebook</span>
								<% } %>
								<% if (user.google.name) { %>
								<span class="label label-danger">Google</span>
								<% } %>
								<% if (user.twitter.username) { %>
								<a href="https://www.twitter.com/<%= user.twitter.username %>" title="see <%= user.twitter.username %> on twitter" target="_blank" class="label label-info">Twitter</a>
								<% } %>
							</div>
							<div class="col-lg-12">
								<h3>Ladders ranking</h3>	
								<table class="table table-striped text-center">
									<thead>
										<tr>
											<th class="text-center">Yesterday's</th>
											<th class="text-center">Last Week</th>
											<th class="text-center">Last Month</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><%= user.dailyRank === 0 ? 'not ranked' : user.dailyRank %></td>
											<td><%= user.weeklyRank === 0 ? 'not ranked' : user.weeklyRank %></td>
											<td><%= user.monthlyRank === 0 ? 'not ranked' : user.monthlyRank %></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="col-lg-4">
					<h4>Badges</h4>
				</div>

			</div>
		</div>
		<% include statics/footers %>


		<script type="text/javascript">
			Ladda.bind( '.ladda-button', { timeout: 2000 } );
			$("#newFriend").click( function(e){
				e.preventDefault();
				
				var target = {},
				_this = $(this),
				pendingRequestshtml = '<span class="glyphicon glyphicon-time"></span> Pending, see your requests';

				target.id = '<%= user._id %>';
				target.idCool = '<%= user.idCool %>';
				target.pseudo = '<%= user.local.pseudo %>';
				console.log(target);

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './askFriend',						
					success: function(data) {
						console.log('success');
						_this.removeClass().addClass('btn btn-punch btn-warning disabled');
						_this.find('.ladda-label').html(pendingRequestshtml);

					}
				});

			});
		</script>
	</body>
	</html>