<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="profile, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta name="description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s).<%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %> ">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="profile:<%= user.local.idCool %>"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.herokuapp.com/u/<%= user.idCool %>">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="<%= user.icon %>.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta property="og:description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s) <%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>  ">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="<%= user.icon %>.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta name="twitter:description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s) <%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>  ">
    <!-- Twitter card end -->
	<title><%= user.local.pseudo %> profile- Challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		<div class="container">
			<div class="row">
				<div id="user_header" class="col-lg-8">
						<div class="row">
							<div class="col-lg-2 col-xs-2 animated fadeInUp" href="#">
									<img src="<%= user.icon %>" class="img-responsive img-rounded">
							</div>
							<h2 class="col-lg-10 animated bounceInUp">
								<%= user.local.pseudo %> 

								<span id="scorebox">
									<span class="level text-center">
										<span class="odometer" data-number="<%= user.level %>">
											0
										</span>
									</span>
								</span>
								<small> <a href="/u/<%= user.idCool %>"> <i class="fa fa-chain"></i> <%= user.idCool %> </a></small>
								<% if (currentUser) { %>

								<%
								// Check if already friends
								var lookupFriends = {};
								for (var i = 0, len = currentUser.friends.length; i < len; i++) {
									lookupFriends[currentUser.friends[i].idUser] = currentUser.friends[i];
								}

								// Check if already sent an Invite
								var lookupSent = {};
								for (var i = 0, len = currentUser.sentRequests.length; i < len; i++) {
									lookupSent[currentUser.sentRequests[i].idUser] = currentUser.sentRequests[i];
								}

								// Check if already received an Invite from this user
								var lookupPendings = {};
								for (var i = 0, len = currentUser.pendingRequests.length; i < len; i++) {
									lookupPendings[currentUser.pendingRequests[i].idUser] = currentUser.pendingRequests[i];
								}

								%>
								<% if (currentUser._id.toString() === user._id.toString()) { %>
								<p>
									<button class="ladda-button btn btn-punch btn-default disabled" >
										<span class="ladda-label">
											<span class="glyphicon glyphicon-info-sign"></span> It's you!
										</span>
									</button>
								</p>
								<% } else if(lookupPendings[user._id] || lookupSent[user._id]) { %>

								<p>
									<button class="ladda-button btn btn-punch btn-warning disabled"  id="newFriend" data-color="blue" data-style="slide-left">
										<span class="ladda-label">
											<span class="glyphicon glyphicon-time"></span> Pending, see your requests
										</span>
									</button>
								</p> 
								<% } else if(!lookupFriends[user._id] && !lookupPendings[user._id] && !lookupSent[user._id] ) { %>

								<p>
									<button class="ladda-button btn btn-punch btn-info"  id="newFriend" data-color="blue" data-style="slide-left">
										<span class="ladda-label">
											<span class="glyphicon glyphicon-plus"></span> Add Friend
										</span>
									</button>
								</p>
								<% } else { %>
								<div class="btn btn-punch btn-success" >
									<span class="ladda-label">
										<span class="glyphicon glyphicon-ok"></span> Friend
									</span>
								</div>
								<% } %>
								<% } %>

							</h2>
							<div class="col-lg-12">	
								<h4>Linked accounts: </h4>
								<% if (user.local.pseudo) { %>
								<span class="label label-default">CyF</span>
								<% } %>
								<% if (user.facebook.name) { %>
								<span class="label label-primary">Facebook</span>
								<% } %>
								<% if (user.google.name) { %>
								<span class="label label-danger">Google</span>
								<% } %>
								<% if (user.twitter.username) { %>
								<a href="https://www.twitter.com/<%= user.twitter.username %>" title="see <%= user.twitter.username %> on twitter" target="_blank" class="label label-info">Twitter</a>
								<% } %>
								<section class="pull-right">
									<div class="fb-share-button" data-href="http://challenge-friends.herokuapp.com/u/<%= user.idCool %>" data-type="button_count"></div>
									<div class="g-plus" data-action="share" data-annotation="bubble"></div>
									<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s).<%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>" data-via="cyf_app" data-hashtags="challenge">Tweet</a>
								</section>
							</div>
							<div class="col-lg-12" id="myGamesList">	
								<h4>Playing: </h4>
								<% if(user.games && user.games.length > 0) {
									 for (var i = user.games.length - 1; i >= 0; i--) { 
									%>
									<span id="<%= user.games[i]._idGame %>" class="label label-info <%= user.games[i].type %>"><%= user.games[i].title %></span>
								<% }
								} %>
							</div>
							<div class="col-lg-12">
								<h3>Ladders ranking</h3>	
								<table class="table table-striped text-center">
									<thead>
										<tr>
											<th class="text-center">Yesterday's</th>
											<th class="text-center">Last Week</th>
											<th class="text-center">Last Month</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><%= user.dailyRank === 0 ? 'not ranked' : user.dailyRank %></td>
											<td><%= user.weeklyRank === 0 ? 'not ranked' : user.weeklyRank %></td>
											<td><%= user.monthlyRank === 0 ? 'not ranked' : user.monthlyRank %></td>
										</tr>
									</tbody>
								</table>
							</div>
							<% if (currentUser) { %>
							<% if (lookupFriends[user._id]) {
								%>

							<div class="col-lg-12" id="ranksTab">
								<h3>Daily ranking progression</h3>
								<canvas id="ranksgraph"></canvas>
								<div class="text-left">
								<%= user.local.pseudo %> <i class="fa fa-square grapefruit-color "></i>
								You <i class="fa fa-square sunflower-color"></i>
								</div>
							</div>
								<% } %>
								<% } %>
						</div>
				</div>
				<div class="col-lg-4">
					<h4>Badges</h4>
				</div>

			</div>
		</div>
		<% include statics/footers %>
		<script type="text/javascript" src="../js/chart.min.js"></script>
		<script type="text/javascript">
		$(function() {
			Ladda.bind( '.ladda-button', { timeout: 2000 } );
			$("#newFriend").click( function(e){
				e.preventDefault();
				
				var target = {},
				_this = $(this),
				pendingRequestshtml = '<span class="glyphicon glyphicon-time"></span> Pending, see your requests';

				target.id = '<%= user._id %>';
				target.idCool = '<%= user.idCool %>';
				target.pseudo = '<%= user.local.pseudo %>';
				console.log(target);

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './askFriend',						
					success: function(data) {
						console.log('success');
						_this.removeClass().addClass('btn btn-punch btn-warning disabled');
						_this.find('.ladda-label').html(pendingRequestshtml);

					}
				});
			});

			function offsetArray (arr,lie,val) {
				var cL = arr.length;
				var val = val?val:0;
				if (lie) {
					for (var i = cL; i < lie; i++) {
						arr.push(val)
					};
					arr.reverse();
					// console.log(arr)
					return arr;
				} else
				return arr.length === 1? [val,arr[0]]: (arr.length === 0 ? [val,val]: arr);
			}
			// return an array composed of a list of the days' number from 1 month ago until today, not included.
			function getAllDays() {
				var e = moment();
				var s = moment().subtract('months', 1); // PREMIUM
				// var s = moment().subtract('days', 5);
				var a = [];

				while(s.isBefore(e)) {
					a.push(s.format("MMM - DD"));
					s = s.add('days', 1);
				}
				return a;
			}
			<% if (currentUser) { %>
			<% if (lookupFriends[user._id]) { %>

			//================================================
			// User Xp Historic graph
			//================================================
			//Setup vars
			var dailyR = []
			, dailyYou = [];
			var dataLabels = getAllDays();

			//Load our data
			var rHistDaily = JSON.parse('<%-JSON.stringify(user.dailyArchives)%>');
			var yHistDaily = JSON.parse('<%-JSON.stringify(currentUser.dailyArchives)%>');

			// Add the current rank!
			<% if(user.dailyRank > 0) {%>
				rHistDaily.push({'rank': <%=user.dailyRank %>});
			<%} if(currentUser.dailyRank > 0) {%>
				yHistDaily.push({'rank': <%=currentUser.dailyRank %>});
			<%}%>

			rHistDaily = rHistDaily.reverse();
			yHistDaily = yHistDaily.reverse();
			//And now, we reverse

			// position our start at the end of the graph by reversing it.
			for (var i = 0; i < dataLabels.length; i++) {
				// Reverse the value of our historic
				thisdaily = rHistDaily[i] ? (rHistDaily[i].rank == 0 ? false:rHistDaily[i].rank) : false;
				youDaily = yHistDaily[i] ? (yHistDaily[i].rank == 0 ? false:yHistDaily[i].rank) : false;

				if(thisdaily)	
					dailyR.push(thisdaily);

				if(youDaily)	
					dailyYou.push(youDaily);

			};
			max = dailyR.length-1 > dailyYou.length-1 ? dailyR.length-1 : dailyYou.length-1
			whatCanIDoToday = _.max(max)
			// Put all our ranking graph to the same length
			dailyR = offsetArray(dailyR,dailyR.length-1,whatCanIDoToday*2);
			if(dailyYou.length > 0)
				dailyYou = offsetArray(dailyYou,dailyYou.length-1,whatCanIDoToday*2);

			// Now take the labels to the same length (slice or take the last X ones)
			var rankLab=max<dataLabels.length-1?dataLabels.slice(dataLabels.length-1-max,dataLabels.length-1):dataLabels;

			// =========================
			//	BUILD CHART
			// =========================
			//Ranks Graph
			var optRk = {
				datasetFill : false,
				bezierCurve : false
			}
			var dataRanks = {
				labels : rankLab,
				datasets : [
					{
						fillColor : "rgba(237,85,101,0.3)",
						strokeColor : "rgba(237,85,101,0.6)",
						pointColor : "rgba(237,85,101,0.8)",
						pointStrokeColor : "#fff",
						data : dailyR
					},
					{
						fillColor : "rgba(255,206,84,0.3)",
						strokeColor : "rgba(255,206,84,0.6)",
						pointColor : "rgba(255,206,84,0.8)",
						pointStrokeColor : "#fff",
						data : dailyYou
					}
				]
			}
			// Build Canvas
			var desiredRatio = $("#ranksgraph").parent().width();
			var canvasRanks = $("#ranksgraph")[0];
			var ctxRanks = canvasRanks.getContext("2d");
			canvasRanks.setAttribute('width', desiredRatio);
			canvasRanks.setAttribute('height', desiredRatio/2.5);
			//Build charts
			new Chart(ctxRanks).Line(dataRanks,optRk);
			<% } %>
			<% } %>
		});
		</script>
	</body>
	</html>