<!doctype html>
<html>
<head>
	<% include statics/headers %>
	<title></title>
</head>
<body>

	<% include statics/navTop %>
	<div class="canvas">
		<div class="container">
			<div class="row">
				<div id="user_header" class="col-lg-12 well">
					<a class="pull-left" href="#">
						<span class="navbar-text identicon animated rotateIn" data-size="110" data-hashMe="<%= user.idCool %>"></span>
					</a>
					<div id="scorebox" class="pull-right animated bounceInRight">
						<div class="level text-center"><span class="odometer" data-number="<%= user.level %>">0</span>
						</div>
						<div class="xp text-center">
							<%= user.xp %>/<%= user.xpNext %>
						</div>
					</div>
					<div class="media-body clearfix">
						<h2 class="animated bounceInUp">
							<%= user.local.pseudo %> 
							<small> <a href="/u/<%= user.idCool %>"> <i class="fa fa-chain"></i> <%= user.idCool %> </a></small>

							<% if (currentUser) { %>

							<%
							// Check if already friends
							var lookupFriends = {};
							for (var i = 0, len = currentUser.friends.length; i < len; i++) {
								lookupFriends[currentUser.friends[i].idUser] = currentUser.friends[i];
							}

							// Check if already sent an Invite
							var lookupSent = {};
							for (var i = 0, len = currentUser.sentRequests.length; i < len; i++) {
								lookupSent[currentUser.sentRequests[i].idUser] = currentUser.sentRequests[i];
							}

							// Check if already received an Invite from this user
							var lookupPendings = {};
							for (var i = 0, len = currentUser.pendingRequests.length; i < len; i++) {
								lookupPendings[currentUser.pendingRequests[i].idUser] = currentUser.pendingRequests[i];
							}

							%>
							<% if (currentUser._id.toString() === user._id.toString()) { %>
							<button class="pull-right btn btn-punch btn-default disabled" >
								<span class="ladda-label">
									<span class="glyphicon glyphicon-info-sign"></span> It's you!
								</span>
							</button>
							<% } else if(lookupPendings[user._id] || lookupSent[user._id]) { %>

							<button class="pull-right btn btn-punch btn-warning disabled"  id="newFriend" data-color="blue" data-style="slide-left">
								<span class="ladda-label">
									<span class="glyphicon glyphicon-time"></span> Pending, see your requests
								</span>
							</button> 
							<% } else if(!lookupFriends[user._id] && !lookupPendings[user._id] && !lookupSent[user._id] ) { %>

							<button class="ladda-button pull-right btn btn-punch btn-info"  id="newFriend" data-color="blue" data-style="slide-left">
								<span class="ladda-label">
									<span class="glyphicon glyphicon-plus"></span> Add Friend
								</span>
							</button>


							<% } else { %>
							<div class="pull-right btn btn-punch btn-success" >
								<span class="ladda-label">
									<span class="glyphicon glyphicon-ok"></span> Friend
								</span>
							</div>
							<% } %>
							<% } %>
						</h2>
						<div class="loaderProgress animated flipInY">
							<div class="tinyProgress tinyBlue" style="width: 0%" data-percent="<%= xpPer %>"></div>
						</div>
						<div class="pull-right">	
							<% if (user.local.pseudo) { %>
							<span class="label label-default">CyF</span>
							<% } %>
							<% if (user.facebook.name) { %>
							<span class="label label-primary">Facebook</span>
							<% } %>
							<% if (user.google.name) { %>
							<span class="label label-danger">Google</span>
							<% } %>
							<% if (user.twitter.username) { %>
							<a href="https://www.twitter.com/<%= user.twitter.username %>" title="see <%= user.twitter.username %> on twitter" target="_blank" class="label label-info">Twitter</a>
							<% } %>
						</div>

					</div>
				</div>

			</div>
		</div>
		<% include statics/footers %>


		<script type="text/javascript">

			// Bind normal buttons
			Ladda.bind( 'button', { timeout: 2000 } );
			$("#newFriend").click( function(e){
				e.preventDefault();
				
				var target = {},
				_this = $(this),
				pendingRequestshtml = '<span class="glyphicon glyphicon-time"></span> Pending, see your requests';

				target.id = '<%= user._id %>';
				target.idCool = '<%= user.idCool %>';
				target.pseudo = '<%= user.local.pseudo %>';
				console.log(target);

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './askFriend',						
					success: function(data) {
						console.log('success');
						_this.removeClass().addClass('btn btn-punch btn-warning disabled');
						_this.find('.ladda-label').html(pendingRequestshtml);

					}
				});

			});
		</script>
	</body>
	</html>