<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="profile, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta name="description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s).<%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %> ">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="profile:<%= user.local.idCool %>"> <!-- website/article/profile -->
    <meta property="og:url" content="http://cyf-app.co/u/<%= user.idCool %>">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="<%= user.icon %>.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta property="og:description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s) <%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>  ">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="<%= user.icon %>.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="<%= user.local.pseudo %>'s profile on challenge your Friends">
    <meta name="twitter:description" content="<%= user.local.pseudo %> is a challenger level <%= user.level %>! He/She has <%= user.friends.length %> friend(s) <%= user.twitter.username ? 'find him on twitter @'+user.twitter.username :'' %>  ">
    <!-- Twitter card end -->
	<title><%= user.local.pseudo %> profile- Challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>
	<div class="canvas">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="user-card card text-center">
						<a href="/u/<%= user.idCool %>" class="animated fadeInLeft"><img src="<%= user.icon %>" class="img-rounded avatar "></a>
						<h4><%= user.local.pseudo %>
							<% if (currentUser) { 
								// Check if already friends
								var lookupFriends = {};
								for (var i = 0, len = currentUser.friends.length; i < len; i++) {
									lookupFriends[currentUser.friends[i].idUser] = currentUser.friends[i];
								}

								// Check if already sent an Invite
								var lookupSent = {};
								for (var i = 0, len = currentUser.sentRequests.length; i < len; i++) {
									lookupSent[currentUser.sentRequests[i].idUser] = currentUser.sentRequests[i];
								}

								// Check if already received an Invite from this user
								var lookupPendings = {};
								for (var i = 0, len = currentUser.pendingRequests.length; i < len; i++) {
									lookupPendings[currentUser.pendingRequests[i].idUser] = currentUser.pendingRequests[i];
								}

								%>
								<% if (currentUser._id.toString() === user._id.toString()) { %>
								<i id="newFriend"class="fa fa-info" rel="tooltip" title="Pending request sent, or received, check your requests page!"></i>
								<% } else if(lookupPendings[user._id] || lookupSent[user._id]) { %>

								<i id="newFriend"class="fa fa-history sunflower-color" rel="tooltip" title="Pending request sent, or received, check your requests page!"></i>
								<% } else if(!lookupFriends[user._id] && !lookupPendings[user._id] && !lookupSent[user._id] ) { %>

								<i id="newFriend"class="fa fa-plus-square aqua-color" rel="tooltip" title="Add Friend"></i>
								<% } else { %>
								<i class="fa fa-heart-o grass-color"></i>
								<% } %>
							<% } %>
						</h4>
						<div class="text-center infos row">
							<div class="col-xs-4">
								<a href="/friends">
									<strong><%= user.friends.length %></strong>
									<span>Friends</span>
								</a>									
							</div>
							<div class="col-xs-4">
								<strong><%= user.level %></strong>
								<span>Level</span>	
							</div>
							<div class="col-xs-4">
								<a href="/leaderboard">
									<strong><%= user.dailyRank %></strong>
									<span>Rank</span>
								</a>				
							</div>								
						</div>
						<div class="loaderProgress popmeout" id="t_xpBar" data-placement="bottom" data-title="Experience bar - level <%= user.level %>" data-description="Next Level: <%= (user.xp + user.xpNext) %> xp | Remaining: <%= (user.xpNext) %>">
							<div class="tinyProgress aqua" style="width: 0%" data-percent="<%= xpPer %>"></div>
						</div>
					</div>
					<div class="card">
							<div class="panel-group panel-group-lists collapse in"  id="tabsProfile" style="height: auto;">
								<div class="panel">
								  <div class="panel-heading">
									<h4 class="panel-title"  id="t_league">
									  <a data-toggle="collapse" data-parent="#tabsProfile" href="#lol_games">
										<%= user.leagueoflegend && user.leagueoflegend.lastGames.length > 0 ? user.leagueoflegend.lastGames.length : 0 %> Last games
										<% if (user.leagueoflegend.confirmed === true)  { %>
											<span class="pull-right gameSync">
												<i class="fa fa-refresh mint-color"></i> 
											</span>
										<% } %>
									  </a>
									</h4>
								  </div>
								  <div id="lol_games" class="panel-collapse collapse">
										<div class="panel-body">
										<% if ( user.leagueoflegend && user.leagueoflegend.confirmed === true && user.leagueoflegend.lastGames.length > 0 ) { %>
										<%  var games = user.leagueoflegend.lastGames.reverse();
										var lolilength = games.length-1 > 10 ? 10 : games.length-1;
										for (var i = lolilength; i >= 0; i--) { %>
											<div class="col-md-12 col-sm-12 ">	

												<div class="media">
													<div class="pull-left">
														<img class="media-object img-rounded img-responsive" src="./img/assets_lol/champions/<%= games[i].championInfos.key %>.jpg">											
													</div>
													<div class="media-body">
														<h6 class="pull-right text-center <%= games[i].stats.win ? 'grass': 'grapefruit' %>"><%= games[i].stats.win ? 'won': 'lost' %>

														<p><span class="minutesReadability" data-date="<%= games[i].stats.timePlayed %>"></span></p>
														</h6>
														<h4 class="media-heading"><%= games[i].subType %></h4>
														<p><small><%= games[i].createDate %></small></p>
													</div>
												</div>
											</div>
								
										<% } %>
										<% } else if (user.leagueoflegend.confirmed === true) { %>	

											<div class="media-body text-center">
												<button type="button" class="btn mint gameSync"> <i class="fa fa-refresh"></i> Sync my last games now</button>
											</div>

										<% } else { %>	

											<div class="media-body text-center">
												<a href="./settings#tab_linkGames" class="btn aqua"> <i class="fa fa-link"></i> Link your Account now!</a>
											</div>

										<% } %>
										</div>
								  </div>
								</div>
								<div class="panel">
								  <div class="panel-heading">
									<h4 class="panel-title"  id="t_badges">
									  <a data-toggle="collapse" data-parent="#tabsProfile" href="#tab_badges">
										<%= user.badges && user.badges.length > 0 ? user.badges.length : 0 %> My Badges
									  </a>
									</h4>
								  </div>
								  <div id="tab_badges" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="badgeList">
											<% if(user.badges && user.badges.length > 0) {
												for(var i=0; i< user.badges.length; i++) { 
												var badge = user.badges[i]; 
												if(badge.idBadge) {
												%>
											<a href="/badge/<%= badge.idBadge._id %>" class="popbadge" data-title="<%= badge.idBadge.title %>" data-description="<%= badge.idBadge.description %>" data-date="<%= badge.dateUnlocked %>" data-req="<%= badge.idBadge.reqType %>"  data-placement="bottom" data-trigger="hover">
												<img src="/img/badges/daily_ranked_1.png" class="img-responsive hover-me" >
											</a>
											<% }
											}
											}%>
										</div> 
									</div>
								  </div>
								</div>
							</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 clearfix">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 gamelist" id="myGamesList">

								<h3>Playing</h3>
								<div class="card">
									<% if(user.games.length > 0) {
										 for (var i = user.games.length - 1; i >= 0; i--) { 
										%>
										<span id="<%= user.games[i]._idGame %>" class="label label-info <%= user.games[i].type %>"><%= user.games[i].title %></span>
									<% }
									} %>
									<a href="./settings#tab_linkGames" title="add an game" id="t_addGames" class="label label-default">
										<span class="fa fa-plus"></span>
										Add Games
									</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
								<h3>Linked accounts</h3>
								<div class="card">
									<% if (user.local.pseudo) { %>
									<span class="label label-default">CyF</span>
									<% } %>
									<% if (user.facebook.token) { %>
									<a href="https://www.facebook.com/profile.php?id=/<%= user.facebook.id %>" title="see <%= user.facebook.name %> on Facebook" target="_blank" class="label label-primary">Facebook</a>
									<% } %>
									<% if (user.google.token) { %>
									<span class="label label-danger">Google</span>
									<% } %>
									<% if (user.leagueoflegend.idProfile && user.leagueoflegend.confirmed) { %>
									<span class="label label-info">League of Legend</span>
									<% } %>
									<% if (user.twitter.token) { %>
									<a href="https://www.twitter.com/<%= user.twitter.username %>" title="see <%= user.twitter.username %> on twitter" target="_blank" class="label label-info">Twitter</a>
									<% } %>
									<a href="./settings" title="add an account" id="t_linkacc" class="label label-default">
										<span class="fa fa-plus"></span>
										Add
									</a>
									
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h3>Ladders ranking</h3>	
								<div class="card">
									<table class="table table-striped text-center">
										<thead>
											<tr>
												<th class="text-center" id="t_lastDaily">Last Daily rank</th>
												<th class="text-center" id="t_lastWeek">Last Week</th>
												<th class="text-center" id="t_lastMonth">Last Month</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><%= user.dailyRank === 0 ? 'not ranked yet!' : user.dailyRank %></td>
												<td><%= user.weeklyRank === 0 ? 'not ranked yet!' : user.weeklyRank %></td>
												<td><%= user.monthlyRank === 0 ? 'not ranked yet!' : user.monthlyRank %></td>
											</tr>
										</tbody>
									</table>
									<table class="table table-striped text-center">
										<thead>
											<tr>
												<th class="text-center"></th>
												<th class="text-center">Daily</th>
												<th class="text-center">Weekly</th>
												<th class="text-center">Monthly</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>XP</th>
												<td><%= user.daily.xp %></td>
												<td><%= user.weekly.xp %></td>
												<td><%= user.monthly.xp %></td>
											</tr>
											<tr>
												<th>level</th>
												<td><%= user.daily.level %></td>
												<td><%= user.weekly.level %></td>
												<td><%= user.monthly.level %></td>
											</tr>
											<tr>
												<th>Facebook share</th>
												<td><%= user.daily.shareFB %></td>
												<td><%= user.weekly.shareFB %></td>
												<td><%= user.monthly.shareFB %></td>
											</tr>
											<tr>
												<th>Facebook share</th>
												<td><%= user.daily.shareTW %></td>
												<td><%= user.weekly.shareTW %></td>
												<td><%= user.monthly.shareTW %></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						<% if (currentUser) { %>
							<% if (lookupFriends[user._id]) {
								%>
							<h4>Daily ranking progression</h4>
							<div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
								<canvas id="ranksgraph"></canvas>
								<div class="text-left">
								<%= user.local.pseudo %> <i class="fa fa-square grapefruit-color "></i>
								You <i class="fa fa-square sunflower-color"></i>
								</div>
							</div>
							<% } %>
							<% } %>
						</div>
				</div>
			</div>
		</div>
	</div>

		<% include statics/footers %>
		<script type="text/javascript" src="../js/chart.min.js"></script>
		<script type="text/javascript">
		$(function() {
			Ladda.bind( '.ladda-button', { timeout: 2000 } );
			$("#newFriend").click( function(e){
				e.preventDefault();
				
				var target = {},
				_this = $(this);

				target.id = '<%= user._id %>';
				target.idCool = '<%= user.idCool %>';
				target.pseudo = '<%= user.local.pseudo %>';

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './askFriend',						
					success: function(data) {
						console.log('success');
						_this.removeClass().addClass('fa fa-history sunflower-color');
						_this.attr('title','Pending request sent, or received, check your requests page!');

					}
				});
			});

			function offsetArray (arr,lie,val) {
				var cL = arr.length;
				var val = val?val:0;
				if (lie) {
					for (var i = cL; i < lie; i++) {
						arr.push(val)
					};
					arr.reverse();
					// console.log(arr)
					return arr;
				} else
				return arr.length === 1? [val,arr[0]]: (arr.length === 0 ? [val,val]: arr);
			}
			// return an array composed of a list of the days' number from 1 month ago until today, not included.
			function getAllDays() {
				var e = moment();
				var s = moment().subtract('months', 1); // PREMIUM
				// var s = moment().subtract('days', 5);
				var a = [];

				while(s.isBefore(e)) {
					a.push(s.format("MMM - DD"));
					s = s.add('days', 1);
				}
				return a;
			}
			<% if (currentUser) { %>
			<% if (lookupFriends[user._id]) { %>

			//================================================
			// User Xp Historic graph
			//================================================
			//Setup vars
			var dailyR = []
			, dailyYou = [];
			var dataLabels = getAllDays();

			//Load our data
			var rHistDaily = JSON.parse('<%-JSON.stringify(user.dailyArchives)%>');
			var yHistDaily = JSON.parse('<%-JSON.stringify(currentUser.dailyArchives)%>');

			// Add the current rank!
			<% if(user.dailyRank > 0) {%>
				rHistDaily.push({'rank': <%=user.dailyRank %>});
			<%} if(currentUser.dailyRank > 0) {%>
				yHistDaily.push({'rank': <%=currentUser.dailyRank %>});
			<%}%>

			rHistDaily = rHistDaily.reverse();
			yHistDaily = yHistDaily.reverse();
			//And now, we reverse

			// position our start at the end of the graph by reversing it.
			for (var i = 0; i < dataLabels.length; i++) {
				// Reverse the value of our historic
				thisdaily = rHistDaily[i] ? (rHistDaily[i].rank == 0 ? false:rHistDaily[i].rank) : false;
				youDaily = yHistDaily[i] ? (yHistDaily[i].rank == 0 ? false:yHistDaily[i].rank) : false;

				if(thisdaily)	
					dailyR.push(thisdaily);

				if(youDaily)	
					dailyYou.push(youDaily);

			};
			max = dailyR.length-1 > dailyYou.length-1 ? dailyR.length-1 : dailyYou.length-1
			whatCanIDoToday = _.max(max)
			// Put all our ranking graph to the same length
			dailyR = offsetArray(dailyR,dailyR.length-1,whatCanIDoToday*2);
			if(dailyYou.length > 0)
				dailyYou = offsetArray(dailyYou,dailyYou.length-1,whatCanIDoToday*2);

			// Now take the labels to the same length (slice or take the last X ones)
			var rankLab=max<dataLabels.length-1?dataLabels.slice(dataLabels.length-1-max,dataLabels.length-1):dataLabels;

			// =========================
			//	BUILD CHART
			// =========================
			//Ranks Graph
			var optRk = {
				datasetFill : false,
				bezierCurve : false
			}
			var dataRanks = {
				labels : rankLab,
				datasets : [
					{
						fillColor : "rgba(237,85,101,0.3)",
						strokeColor : "rgba(237,85,101,0.6)",
						pointColor : "rgba(237,85,101,0.8)",
						pointStrokeColor : "#fff",
						data : dailyR
					},
					{
						fillColor : "rgba(255,206,84,0.3)",
						strokeColor : "rgba(255,206,84,0.6)",
						pointColor : "rgba(255,206,84,0.8)",
						pointStrokeColor : "#fff",
						data : dailyYou
					}
				]
			}
			// Build Canvas
			var desiredRatio = $("#ranksgraph").parent().width();
			var canvasRanks = $("#ranksgraph")[0];
			var ctxRanks = canvasRanks.getContext("2d");
			canvasRanks.setAttribute('width', desiredRatio);
			canvasRanks.setAttribute('height', desiredRatio/2.5);
			//Build charts
			new Chart(ctxRanks).Line(dataRanks,optRk);
			<% } %>
			<% } %>
		});
		</script>
	</body>
	</html>