<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="signup, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="List of challengers on Challenge your friends">
    <meta name="description" content="See who is playing on Challenge your Friends, discover new friends and find new opponents to challenge today! View your online friends live.">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://cyf-app.co/signup">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://cyf-app.co/img/icon_big.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="List of challengers on Challenge your friends">
    <meta property="og:description" content="See who is playing on Challenge your Friends, discover new friends and find new opponents to challenge today! View your online friends live.">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://cyf-app.co/img/icon_big.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="List of challengers on Challenge your friends">
    <meta name="twitter:description" content="See who is playing on Challenge your Friends, discover new friends and find new opponents to challenge today! View your online friends live.">
	<title>List of challengers - Challenge your friends</title>
</head>
<body>

	<% include statics/navTop %>
	<script type="text/javascript">
		var myFriendList = [];

		<%
		var _friendList = [];
		if (currentUser) { 

			if (currentUser.friends.length > 0) {

				for (var i = 0; i < currentUser.friends.length; i++) {
					_friendList.push(currentUser.friends[i].idUser.toString());
					%>
					myFriendList.push('<%= currentUser.friends[i].idUser.toString() %>');
					<%
				}
			}
		} %>
	</script>

	<div class="canvas">
		

		<div class="container">
			<div class="row">
				<div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<input type="search" class="form-control filterUsers" placeholder="Search." rel="tooltip" data-placement="bottom" data-title="try 'friends' or 'league' or 'moba'">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<br>
				<br>
					<div class="row userlist">
					<% 
						var lookupFriends = {};
						var lookupSent = {};
						var lookupPendings = {};
						
					if (currentUser) { 
							for (var i = 0, len = currentUser.friends.length; i < len; i++) {
								lookupFriends[currentUser.friends[i].idUser] = currentUser.friends[i];
							}
							for (var i = 0, len = currentUser.sentRequests.length; i < len; i++) {
								lookupSent[currentUser.sentRequests[i].idUser] = currentUser.sentRequests[i];
							}
							for (var i = 0, len = currentUser.pendingRequests.length; i < len; i++) {
								lookupPendings[currentUser.pendingRequests[i].idUser] = currentUser.pendingRequests[i];
							}
						}
					%>
					<% for(var i=0; i< users.length; i++) { %>
						<div class="col-xs-12 col-sm-5 col-md-4 user-card <%= users[i].local.pseudo.replace(/\s+/g, '').toLowerCase() %> <% if(users[i].games && users[i].games.length > 0) {for (var g = users[i].games.length - 1; g >= 0; g--) {%><%= users[i].games[g].title.replace(/\s+/g, '').toLowerCase() %> <%= users[i].games[g].type.replace(/\s+/g, '').toLowerCase() %><% }} %> <%= _friendList.indexOf(users[i]._id.toString()) > -1 ? 'friend' :'' %>">
						    <div class="card text-center">
						        <a class="main text-hide" href="/u/<%= users[i].idCool %>"><%= users[i].local.pseudo %></a>
						        <div class="user-avatar">
						            <img src="<%= users[i].icon %>" class="img-rounded">
						        </div>
						        <h4 class="name">
						        	<%= users[i].local.pseudo %> 
									<small>

										<%  if(!lookupFriends[users[i]._id] && !lookupPendings[users[i]._id] && !lookupSent[users[i]._id] ) { %>

										<i class="newFriend cursor fa fa-plus-square aqua-color" rel="tooltip" title="Add Friend" data-uId="<%= users[i]._id %>" data-uIdCool="<%= users[i].idCool %>" data-pseudo="<%= users[i].local.pseudo %>"></i>
										<% } else if(lookupPendings[users[i]._id] || lookupSent[users[i]._id]) { %>
										<i class="fa fa-history sunflower-color" rel="tooltip" title="Pending request sent, or received, check your requests page!"></i>
										<% } else { %>
										<i class="fa fa-heart grapefruit-color" rel="tooltip" title="You and are <%= users[i].local.pseudo %> friends!"></i>
										<% } %>
									</small>
								</h4>
								<div class="text-center infos row">
									<div class="col-xs-4">
										<strong><%= users[i].friends.length %></strong>
										<span>Friends</span>			
									</div>
									<div class="col-xs-4">
										<strong><%= users[i].level %></strong>
										<span>Level</span>	
									</div>
									<div class="col-xs-4">
										<a href="/leaderboard">
											<strong><%= users[i].dailyRank %></strong>
											<span>Rank</span>
										</a>				
									</div>								
								</div>
						        <div class="game-list">
									<i class="fa fa-gamepad  grapefruit-color"></i>
									<% if(users[i].games.length > 0) { %>
									<% for (var x = users[i].games.length - 1; x >= 0; x--) { %>
										<span id="<%= users[i].games[x]._idGame %>" class="aqua-color"><%= users[i].games[x].title %></span>
									<% }
									} else { %>
									<span class="">Nothing yet.</span>
									<% } %>
						        </div>
						    </div>
						</div>
					<% } %>
					</div>
				
					
				</div>
			</div>
		</div>
		<% include statics/footers %>
		<script type="text/javascript">
		$(function () {

			var $sameHeightChildren = $('.game-list');
			var maxHeight = 0;

			_.each($sameHeightChildren, function(el) {
			    maxHeight = Math.max(maxHeight, $(el).outerHeight());
			});
			$sameHeightChildren.css({ height: maxHeight + 'px'});

			$(".newFriend").click( function(e){
				e.preventDefault();
				
				var target = {},
				_this = $(this);

				target.id = _this.attr('data-uId');
				target.idCool = _this.attr('data-uIdCool');
				target.pseudo = _this.attr('data-pseudo');

				$.ajax({
					type: 'POST',
					data: JSON.stringify(target),
					contentType: 'application/json',
					url: './askFriend',						
					success: function(data) {
						_this.removeClass().addClass('fa fa-history sunflower-color');
						_this.attr('title','Pending request sent, or received, check your requests page!');

					}
				});
			});
		});

		</script>
	</body>
	</html>