
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" id="headNav" role="navigation">
	<div class="container">
		<div class="navbar-header">


		 	<i class="fa fa-bars fa-2x visible-xs pull-left" onclick="document.body.classList.toggle('slider-active')"></i> 
			
			<a class="pull-right visible-xs" href="./">			
                <img src="./img/logo.png" alt="go home">
			</a>
			<button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-ellipsis-v"></i>
			</button>
			<a class="navbar-brand animated flipInX hidden-xs" href="./">			
                <img src="./img/logo.png" alt="go home" class=" ">
			</a>
		</div>
		<div class="navbar-collapse collapse hidden-xs">
			<% if (currentUser) { %>
			<ul class="nav navbar-nav">
				<li class="animated fadeInDown"><a href="/leaderboard">LeaderBoard</a></li>
				<li class="animated fadeInDown" id="t_menuChall"><a href="/users">Challengers</a></li>
				<li class="animated fadeInDown show-logs hidden-sm" id="t_logs">
				 <a href="javascript:void(0);">
				 	<span class="fa fa-bullhorn"></span>
				 	<span class="visible-xs">Activity Log</span>
				 </a>					
				</li>
				<li class="animated fadeInDown show-chat hidden-sm" id="t_chat">
					<a href="javascript:void(0);">					
						<span>
							<i class="fa fa-comments-o"></i> 
							<span class="onlineCounter odometer" data-number="0">0</span>
						</span>						
					</a>					
				</li>
				<li class="animated fadeInDown" id="t_requests">
					<a href="/request" title="See you pending requests: Friends and Challenges">						
						<span >
							<i class="fa fa-inbox"></i>  
							<span class="requestCounterTotal odometer" data-number="0">0</span>
						</span>				
					</a>				
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"> 
					<a href="#" class="dropdown-toggle animated fadeInDown" data-toggle="dropdown">
						Challenges 
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/launchChallenge"><i class="fa fa-paper-plane hidden-xs hidden-sm"></i> <strong>Launch</strong></a>
						</li>
						<li class="divider hidden-xs hidden-sm"></li>
						<li>
							<a href="/challenges"><i class="fa fa-book hidden-xs hidden-sm"></i> All challenges</a>
						</li>
						<li>
							<a href="/ongoing"><i class="glyphicon glyphicon-flash hidden-xs hidden-sm"></i>My challenges</a>
						</li>
						<li><a href="/newChallenge"><i class="fa fa-pencil hidden-xs hidden-sm"></i> Create</a></li>
						<li><a href="/myChallenges"><i class="fa fa-list-ul hidden-xs hidden-sm"></i> Challenges created</a></li>
						<li class="divider hidden-xs hidden-sm"></li>
						<li>
							<a href="/rateChallenges"><i class="fa fa-bar-chart-o hidden-xs hidden-sm"></i> Rate challenges
								<% if(currentUser.challengeRate.length > 0 ) { %>
								<span class="badge alert-info"><%= currentUser.challengeRate.length %></span>
								<% } %>
							</a>
						</li>
						<li>
							<a href="/tribunal"><i class="fa fa-gavel hidden-xs hidden-sm"></i>  Tribunal
								<% if(currentUser.tribunal.length > 0 ) { %>
								<span class="badge alert-info"><%= currentUser.tribunal.length %></span>
								<% } %>
							</a>

						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" id="userdropdown" class="dropdown-toggle animated fadeInDown" data-toggle="dropdown" >
						<%= currentUser.local.pseudo %>, Lvl. <%= currentUser.level %><b class="caret"></b>
					</a>
					<div id="user-xpbar" class="hidden-xs hidden-sm"></div>
					<ul class="dropdown-menu">
						<li>
							<a href="/profile"><i class="fa fa-user hidden-xs hidden-sm"></i>  Profile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/settings" class="hidden-md hidden-lg">Settings</a>
						</li>
						<li>
							<a href="/friends"><i class="fa fa-users hidden-xs hidden-sm"></i>  Friends</a>
						</li>
						<li class="divider hidden-md hidden-lg"></li>
						<li>
							<a href="/logout"><i class="fa fa-sign-out hidden-xs hidden-sm"></i>  Log out</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/settings" class="hidden-sm hidden-xs"><i class="fa fa-sliders"></i></a>
				</li>
				<a href="/profile" class="navbar-text profile-icon hidden-xs hidden-sm"><img src="<%= currentUser.icon %>" class="img-responsive img-rounded"></a>
			</ul>
			<% } else { %>
			<ul class="nav navbar-nav">
				<li class="animated fadeInDown"><a href="/leaderboard">LeaderBoard</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="animated fadeInDown"><a href="/signup">Become a challenger</a></li>
				<li class="animated fadeInDown"><a href="/login">Challenger entrance</a></li>
			</ul>
			<% } %>
		</div><!--/.nav-collapse -->
	</div>

</div>

<div class="liveFeed navmenu navmenu-fixed-right hidden-xs">
	<ul class="list-group list-unstyled" id="streams">
	</ul>
</div>

<div class="liveChat navmenu navmenu-fixed-left hidden-xs">
	<input type="text" id="chat-message" placeholder="Say something..." >
	<ul class="list-unstyled" id="chat"></ul>
</div>
<div class="visible-xs" id="menu-bar">
	<div class="menu-head">
		<a href="/">
		  <img class="menu-head-logo" src="./img/logo.png" >
		</a>
		<% if (currentUser) { %>
		<h3 class="text-center"><small>L.<%= currentUser.level %></small><%= currentUser.local.pseudo %></h3>
		<a href="/profile">
			<img class="img-circle img-responsive" src="<%= currentUser.icon %>" >
		</a>	
		<% } %> 	
	</div>

	<ul class="list-unstyled">
		<li><a href="/leaderboard"><i class="fa fa-list-ul"></i><% if (currentUser) { %> <span class="pull-right"><i class="fa fa-star"></i><%= currentUser.dailyRank %></span><% } %> LeaderBoard</a></li> 
		<li><a href="/users"><i class="fa fa-search"></i> Challengers</a></li>

		<% if (currentUser) { %>
		<li><a href="/friends"><i class="fa fa-users"></i> <span class="odometer pull-right" data-number="<%= currentUser.friends.length %>">0</span> friends</a></li>
		<li><a href="/request"><i class="fa fa-inbox"></i> <span class="requestCounterTotal odometer pull-right" data-number="0">0</span> Requests</a></li> 
		<li>
			<a href="/launchChallenge"><i class="fa fa-paper-plane"></i> <strong>Launch a challenge</strong></a>
		</li>
		<li>
			<a href="/challenges"><i class="fa fa-book"></i> All challenges</a>
		</li>
		<li>
			<a href="/ongoing"><i class="glyphicon glyphicon-flash"></i>My challenges</a>
		</li>
		<li><a href="/newChallenge"><i class="fa fa-pencil"></i> Create</a></li>
		<li><a href="/myChallenges"><i class="fa fa-list-ul"></i> Challenges created</a></li>
		<li>
			<a href="/rateChallenges"><i class="fa fa-bar-chart-o"></i> Rate challenges
				<% if(currentUser.challengeRate.length > 0 ) { %>
				<span class="badge alert-info"><%= currentUser.challengeRate.length %></span>
				<% } %>
			</a>
		</li>
		<li>
			<a href="/tribunal"><i class="fa fa-gavel"></i>  Tribunal
				<% if(currentUser.tribunal.length > 0 ) { %>
				<span class="badge alert-info"><%= currentUser.tribunal.length %></span>
				<% } %>
			</a>
		</li>
		<li>
			<a href="/settings"><i class="fa fa-sliders"></i> Settings</a>
		</li>
		<% }  else { %> 
		<li><a href="/signup">Become a challenger</a></li>
		<li><a href="/login">Challenger entrance</a></li>
		<% } %> 		
	</ul>
</div>
	