
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" id="headNav" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-ellipsis-v"></i>
			</button>
			<a class="navbar-brand animated flipInX" href="./">			
                <img src="./img/logo.png" alt="go home">
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<% if (currentUser) { %>
			<ul class="nav navbar-nav">
				<li class="animated fadeInX"><a href="/leaderboard">LeaderBoard</a></li>
				<li class="animated fadeInX"><a href="/users">Who's here ?</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle animated fadeInX" data-toggle="dropdown">Challenges <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/launchChallenge"><i class="fa fa-crosshairs hidden-xs hidden-sm"></i> <strong>Launch</strong></a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/challenges"><i class="fa fa-book hidden-xs hidden-sm"></i> All challenges</a>
						</li>
						<li>
							<a href="/ongoing"><i class="glyphicon glyphicon-flash hidden-xs hidden-sm"></i>My challenges</a>
						</li>
						<!-- <li><a href="/newChallenge">Create</a></li> -->
						<li><a href="/myChallenges"><i class="fa fa-list-ul hidden-xs hidden-sm"></i> Challenges created</a></li>
						<li class="divider"></li>
						<li>
							<a href="/rateChallenges"><i class="fa fa-pencil hidden-xs hidden-sm"></i> Rate challenges
								<% if(currentUser.challengeRate.length > 0 ) { %>
								<span class="badge alert-info"><%= currentUser.challengeRate.length %></span>
								<% } %>
							</a>
						</li>
						<li>
							<a href="/tribunal"><i class="fa fa-gavel hidden-xs hidden-sm"></i>  Tribunal
								<% if(currentUser.tribunal.length > 0 ) { %>
								<span class="badge alert-info"><%= currentUser.tribunal.length %></span>
								<% } %>
							</a>

						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" id="userdropdown" class="dropdown-toggle animated fadeInX" data-toggle="dropdown" ><%= currentUser.local.pseudo %>, Lvl. <%= currentUser.level %> <b class="caret"></b></a>
					<div id="user-xpbar" class="hidden-xs hidden-sm"></div>
					<ul class="dropdown-menu">
						<li>
							<a href="/profile">Profile</a>
						</li>
						<li>
							<a href="/request">Requests
								<% if(currentUser.pendingRequests.length > 0 ) { %>
								<span class="badge alert-info"><%= currentUser.pendingRequests.length %></span>
								<% } %>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/settings" class="hidden-md hidden-lg">Settings</a>
						</li>
						<li>
							<a href="/friends">Friends</a>
						</li>
						<li class="divider hidden-md hidden-lg"></li>
						<li>
							<a href="/logout">Log out</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/settings" class="hidden-sm hidden-xs"><i class="fa fa-cogs"></i></a>
				</li>
				<a href="/profile" class="navbar-text profile-icon hidden-xs hidden-sm"><img src="<%= currentUser.icon %>" class="img-responsive img-rounded"></a>
				<div class="navbar-text visible-sm visible-md righty"><span class="fa fa-th fa-2x"></span></div>
			</ul>
			<% } else { %>
			<ul class="nav navbar-nav">
				<li class="animated fadeInX"><a href="/leaderboard">LeaderBoard</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="animated fadeInX"><a href="/signup">Become a challenger</a></li>
				<li class="animated fadeInX"><a href="/login">Challenger entrance</a></li>
			</ul>
			<% } %>
		</div><!--/.nav-collapse -->
	</div>

	<% if (currentUser) { %>
	<div class="righty visible-lg"><span class="fa fa-th fa-2x"></span></div>
	<% } %>
</div>

<div class="liveFeed navmenu navmenu-fixed-right visible-lg visible-md visible-sm">
	<ul class="list-group list-unstyled" id="streams">
	</ul>
</div>