		<div class="navbar navbar-default navbar-fixed-top hidden-xs">
			<button type="button" class="navbar-toggle lefty" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Static navbar -->
		<div class="navbar navbar-default navbar-static-top" id="headNav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">CyF <small>ALPHA</small></a>
				</div>
				<% if (currentUser) { %>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/profile">Home</a></li>
						<li><a href="/users">Who's here ?</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<a href="/profile" class="navbar-text identicon" data-size="19" data-hashMe="<%= currentUser.idCool %>"></a>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" ><%= currentUser.local.pseudo %>, Lvl. <%= currentUser.level %> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/profile">Profile</a>
								</li>
								<li>
									<a href="/friends">Friends</a>
								</li>
								<li>
									<a href="/logout">sign off</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenges <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/ongoing">Ongoing</a>
								</li>
								<li>
									<a href="/request">Requests
										<% if(currentUser.pendingRequests.length > 0 ) { %>
										<span class="badge alert-info"><%= currentUser.pendingRequests.length %></span>
										<% } %>
									</a>

								</li>
								<li><a href="/newChallenge">Create</a></li>
								<li><a href="/myChallenges">My Challenges</a></li>
								<li class="divider"></li>
								<li>
									<a href="/launchChallenge"><strong>Launch</strong></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/rateChallenges">Rate challenges
										<% if(currentUser.challengeRate.length > 0 ) { %>
										<span class="badge alert-info"><%= currentUser.challengeRate.length %></span>
										<% } %>
									</a>

								</li>
								<li>
									<a href="/tribunal">Tribunal
										<% if(currentUser.tribunal.length > 0 ) { %>
										<span class="badge alert-info"><%= currentUser.tribunal.length %></span>
										<% } %>
									</a>

								</li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
				<% } %>
			</div>
		</div>

		<div class="navmenu navmenu-default navmenu-fixed-left">
			<a class="navmenu-brand" href="#">Project name</a>

			<ul class="list-group">
				<% if (currentUser) { 

					if (currentUser.notifications) { 
						var notif = currentUser.notifications;
						
						for (var i = notif.length - 1; i >= 0; i--) {
							if(notif[i].isSeen === true) {
								%>
								<li class="list-group-item">
									<h3 class="<%= notif[i].icon %> pull-left"></h3>
									<h4>
										<a href="<%= notif[i].link1 %>" title="<%= notif[i].title %>"><%= notif[i].title %></a>
									</h4>
									<p>
										<a href="<%= notif[i].link2 %>" ><%= notif[i].to %></a> <%= notif[i].message %>
									</p>
								</li>
								<% }
							}
						} 
					} 
					%>
				</ul>
			</div>

